@tailwind base;

html {
	font-size: 1rem;
	line-height: 1;
	font-family:
		"Quicksand",
		-apple-system,
		BlinkMacSystemFont,
		sans-serif,
		"Segoe UI",
		Ubuntu,
		Roboto,
		Helvetica,
		Arial;
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	scroll-padding-top: calc(var(--header-margin) + 0.5rem);
	/* scrollbar-gutter: stable; */
}

body {
	color: var(--body-color);
	background-color: var(--bg-color);
	margin-top: var(--header-margin);

	.page-content {
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: var(--page-width);
		padding-left: var(--padding-x);
		padding-right: var(--padding-x);
		min-height: calc(100svh - var(--header-height) - 1rem);
	}
}

h1 {
	font-size: 1.8rem;
	font-weight: 700;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

h3 {
	font-weight: 500;
	font-size: 1.2rem;
}

h4 {
	font-weight: 500;
}

p {
	line-height: 1.2;
}

strong {
	font-weight: 600;
}

i {
	font-size: 1rem;
	font-style: normal;
}

small {
	font-size: 0.8rem;
}

.gradient-text {
	/* background: var(--accent-gradient) fixed; Broken in firefox */
	background: var(--accent-gradient);
	background-clip: text;
	color: transparent;
}

.gradient-text-static {
	color: var(--accent-gradient) !important;
}

.text-accent {
	color: rgba(var(--accent), 1);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(var(--secondary), 1);
	color: var(--button-color);
	font-weight: 600;
	box-shadow: var(--global-box-shadow);
	border-radius: var(--border-radius);
	padding: 0.5rem 0.75rem;
	border: 1px solid rgba(var(--accent), 1);
	font-size: 1rem;
	transition: 300ms;
	width: max-content;
	min-width: 120px;
	line-height: 1.5;

	&.upper {
		text-transform: uppercase;
	}

	&:hover,
	&:focus-visible {
		background-color: rgba(var(--accent), 1);
		color: var(--button-hover-color);
		cursor: pointer;
		border: var(--border);
	}

	&.is-anchor {
		color: var(--button-color);

		&:visited {
			color: var(--button-color);
		}

		&:hover {
			text-decoration: none;
			color: var(--button-hover-color);
		}
	}
}

a {
	color: var(--a-color);

	&:visited {
		color: var(--a-visited);
	}

	&:hover {
		text-decoration-color: inherit;
		text-decoration: underline;
	}

	&:focus-visible {
		border-radius: 6px;
		box-shadow: var(--focus-visible-shadow);
	}
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgba(var(--secondary), 1);
	color: var(--body-color);
	width: min-content;
	height: auto;
	z-index: 2000;
	font-weight: normal;
	white-space: nowrap;
	animation: fadeIn;
	animation-duration: 0.4s;
	border-radius: 0.375rem;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);

	&.active {
		display: block;
	}
}

.dropdown-content li {
	text-decoration: none;
	list-style: none;
	cursor: pointer;

	&:hover {
		background-color: rgba(163, 163, 163, 0.5);
		text-decoration: none;
	}

	&:first-child:hover {
		border-radius: 0.375rem 0.375rem 0 0;
	}

	&:last-child:hover {
		border-radius: 0 0 0.375rem 0.375rem;
	}

	a {
		color: inherit;
		padding: 0.7rem 1.1rem;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 1rem;

		i {
			font-size: 1.2rem;
		}
	}
}

.dropdown-button {
	background-color: transparent;
	color: var(--body-color);
	font-family: inherit;
	border: none;
	cursor: pointer;
	font-size: inherit;
	position: relative;
	transition: color 400ms ease;
	text-align: center;

	i {
		margin-right: 4px;
	}

	&:after {
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: "";
		border-top: 0.3em solid;
		border-right: 0.3em solid transparent;
		border-bottom: 0;
		border-left: 0.3em solid transparent;
	}
}
