@tailwind base;

/* nunito-latin-wght-normal */
@font-face {
	font-family: "Nunito Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 1000;
	src: url(@fontsource-variable/nunito/files/nunito-latin-wght-normal.woff2) format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* nunito-latin-ext-wght-normal */
@font-face {
	font-family: "Nunito Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 1000;
	src: url(@fontsource-variable/nunito/files/nunito-latin-ext-wght-normal.woff2) format("woff2-variations");
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

html {
	font-size: 1rem;
	line-height: 1;
	font-family: "Nunito Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	scroll-behavior: smooth;
	text-rendering: optimizeLegibility;
	scroll-padding-top: calc(var(--header-margin) + 0.5rem);
}

body {
	color: var(--body-color);
	background-color: var(--bg-color);
	margin-top: var(--header-margin);

	.page-content {
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		max-width: var(--page-width);
		padding-left: var(--padding-x);
		padding-right: var(--padding-x);
		min-height: calc(100svh - var(--header-height) - 1rem);
	}
}

h1 {
	font-size: 1.8rem;
	font-weight: 700;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

h2 {
	font-size: 1.5rem;
	font-weight: 600;
}

h3 {
	font-weight: 500;
	font-size: 1.2rem;
}

h4 {
	font-weight: 500;
}

p {
	line-height: 1.2;
}

strong {
	font-weight: 600;
}

i {
	font-size: 1rem;
	font-style: normal;
}

small {
	font-size: 0.8rem;
}

.gradient-text {
	/* background: var(--accent-gradient) fixed; Broken in firefox */
	background: var(--accent-gradient);
	background-clip: text;
	color: transparent;
}

.gradient-text-static {
	color: var(--accent-gradient) !important;
}

.text-accent {
	color: rgba(var(--accent), 1);
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(var(--secondary), 1);
	color: var(--button-color);
	font-weight: 600;
	box-shadow: var(--global-box-shadow);
	border-radius: var(--border-radius);
	padding: 0.5rem 0.75rem;
	border: 1px solid rgba(var(--accent), 1);
	font-size: 1rem;
	transition: 300ms;
	width: max-content;
	min-width: 120px;
	line-height: 1.5;
	text-transform: uppercase;

	&.no-text-transform {
		text-transform: none;
	}

	&:hover,
	&:focus-visible {
		background-color: rgba(var(--accent), 1);
		color: var(--button-hover-color);
		cursor: pointer;
		border: var(--border);
	}

	&.is-anchor {
		color: var(--button-color);

		&:visited {
			color: var(--button-color);
		}

		&:hover {
			text-decoration: none;
			color: var(--button-hover-color);
		}
	}
}

a {
	color: var(--a-color);

	&:visited {
		color: var(--a-visited);
	}

	&:hover {
		text-decoration-color: inherit;
		text-decoration: underline;
	}

	&:focus-visible {
		border-radius: var(--border-radius);
		box-shadow: var(--focus-visible-shadow);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
