---
import BreadCrumbsItem from "@components/astro/global/BreadCrumbsItem.astro";
import ExternalLink from "@components/astro/global/ExternalLink.astro";
import Section from "@components/astro/global/Section.astro";
import PageViewsComponent from "@components/react/PageViews/PageViews";
import PageLayout from "@layouts/PageLayout.astro";
import { m } from "@paraglide/messages";
import type { Locale } from "@paraglide/runtime";

export { getStaticPaths } from "@utils/i18n";

const locale = Astro.currentLocale as Locale;
---

<PageLayout title={m.common__page_views()} description={m.common__page_views()} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem currentPage label="Analytics" />
	</Fragment>
	<Section sectionTitle={m.common__page_views()} isFirstSection id="pageViews">
		<PageViewsComponent locale={locale} client:load />
	</Section>
</PageLayout>
