---
import BreadCrumbsItem from "@components/astro/global/BreadCrumbsItem.astro";
import ExternalLink from "@components/astro/global/ExternalLink.astro";
import Section from "@components/astro/global/Section.astro";
import PageViewsComponent from "@components/react/PageViews/PageViews";
import type { AllowedLocales } from "@daliborhon.dev/integrations/i18n";
import * as m from "@daliborhon.dev/integrations/i18n/messages";
import PageLayout from "@layouts/PageLayout.astro";

export { getStaticPaths } from "@daliborhon.dev/integrations/i18n";

const locale = Astro.currentLocale as AllowedLocales;
---

<PageLayout title={m.common__page_views()} description={m.common__page_views()} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem currentPage label="Analytics" />
	</Fragment>
	<Section sectionTitle={m.common__page_views()} isFirstSection id="pageViews">
		<PageViewsComponent locale={locale} client:load transition:persist />
	</Section>
</PageLayout>
