---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
	url: string;
	urlDescription: string;
}

const { url, urlDescription } = Astro.props;

const locale = Astro.currentLocale!;
---

<div class="mt-8 text-center">
	<a class="inline-flex gap-1" href={getRelativeLocaleUrl(locale, url)} aria-label={urlDescription} title={urlDescription}>
		<span>{urlDescription}</span><span class="mt-[2px]"><i class="fa-solid fa-arrow-right"></i></span>
	</a>
</div>
