---
import { m } from "@paraglide/messages";
import { generateTOCHTML } from "@utils/content";
import type { MarkdownHeading } from "astro";

interface Props {
	tocPosition?: "inside" | "default";
	headings?: MarkdownHeading[];
}

const { tocPosition = "default", headings } = Astro.props;
---

<article class=`md-content prose max-w-none ${tocPosition}` id="article">
	{
		headings && headings.length !== 0 && (
			<div id="toc">
				<details id="tocDetails" class="max-[1024px]:collapse-arrow bg-base-200 collapse rounded-xl shadow-lg">
					<summary class="collapse-title bg-base-200 text-xl">{m.blog__toc()}</summary>
					<nav class="toc">
						<Fragment set:html={generateTOCHTML(headings)} />
					</nav>
				</details>
			</div>
		)
	}
	<div id="content">
		<slot />
	</div>
</article>

<script is:inline data-astro-rerun>
	// Itentionally inlined to prevent FOUC
	function openToc() {
		const details = document.querySelector("#tocDetails");
		if (!details) return;

		const width = window.innerWidth;
		details.open = width >= 1024;
	}

	openToc();
	window.addEventListener("resize", openToc);
</script>

<style>
	.md-content {
		position: relative;
		width: 100%;
	}

	@media screen and (min-width: 1024px) {
		.md-content {
			&.inside {
				display: grid;
				grid-template-columns: calc(100% - 300px - 2rem) min-content;
				grid-template-rows: 1fr;
				gap: 2rem;

				#content {
					grid-row: 1;
					grid-column: 1;
				}

				#toc {
					z-index: 2;
					grid-row: 1;
					grid-column: 2;
					position: sticky;
					top: var(--header-height); /* Navbar */
					height: max-content;
					max-height: calc(100vh - var(--header-height) - 1rem);
					width: 300px;
					box-shadow: unset;
					background-color: unset;
				}
			}
		}
	}
</style>

<style is:global>
	a.link {
		&.active {
			color: red;
		}
	}
	.md-content {
		img {
			justify-self: center;
			border: 1px solid transparent;
			border-radius: 0.5rem;
		}

		figure:not([class]) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			figcaption {
				text-align: center;
			}
		}
	}

	nav.toc {
		height: max-content;
		max-height: calc(100vh - var(--header-height) - 5rem);
		scrollbar-width: thin;
		overflow-y: scroll;
		padding-inline: 0.725rem;

		ol {
			margin-top: 0;
			font-size: 0.875rem;
			font-weight: 400;
		}
	}

	#toc {
		summary::marker,
		summary::-webkit-details-marker {
			display: none;
		}

		summary {
			list-style: none;
			pointer-events: none;
		}
	}

	@media screen and (max-width: 1024px) {
		#toc {
			summary::marker,
			summary::-webkit-details-marker {
				display: none;
			}

			details {
				margin-bottom: 1rem;
			}

			summary {
				pointer-events: all;
				padding-left: 1rem;
				margin-bottom: 0;
				position: relative;
				cursor: pointer;
			}
		}
	}
</style>
