---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: restClass = "", ...rest } = Astro.props;

const mergedClass = ["external", restClass].filter(Boolean).join(" ");
---

<a {...rest} class={mergedClass} rel="nofollow noopener noreferrer" target="_blank"><slot /></a>
