---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {}

const { class: restClass = "", ...rest } = Astro.props;
const mergedClass = ["external", restClass].filter(Boolean).join(" ");
---

<a {...rest} class={mergedClass} rel="nofollow noopener noreferrer" target="_blank"><slot /><Icon name="heroicons:arrow-top-right-on-square-16-solid" /></a>

<style>
	.external {
		display: inline;

		svg {
			display: inline;
			width: 1rem;
			height: 1rem;
			margin-left: 0.2rem;
			vertical-align: middle;
			color: var(--color-primary);
		}
	}
</style>
