---
type Status = "up" | "down" | undefined;

const cls = {
	up: "status-success",
	down: "status-error",
};

const fetchStatus = async (): Promise<Status> => {
	const res = await fetch(new URL("/api/bs-status", Astro.url));
	const data = await res.json();
	return data.status;
};

const status = await fetchStatus();
---

<a class="inline-grid *:[grid-area:1/1]" target="_blank" href="https://status.daliborhon.dev">
	<div class={`status rounded-full ${cls[status ?? "down"]} animate-ping`}></div>
	<div class={`status rounded-full ${cls[status ?? "down"]}`}></div>
</a>
