---
import { Image } from "astro:assets";

export type CertCard = {
    img: ImageMetadata;
    width: number;
    height?: number;
    alt: string;
    description: string;
};

export interface Props {
    img: ImageMetadata;
    width: number;
    height?: number;
    alt: string;
    description: string;
}

const { img, width, height, alt, description } = Astro.props;

const imgProps = {
    src: img,
    width,
    height,
    alt,
};
---

<li class="cert-card">
    <Image {...imgProps} />
    <p>{description}</p>
</li>

<style>
    .cert-card {
        height: 150px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        background-color: var(--card-bg);
        box-shadow: var(--global-box-shadow);
        border-radius: 6px;
        border: var(--border);
    }

    .cert-card p {
        margin: 0;
        max-width: 90%;
        text-align: center;
    }

    .cert-card-logo {
        max-width: 170px;
        max-height: 50px;
        width: auto;
        height: auto;
    }

    @media (max-width: 768px) {
        .cert-card {
            gap: 1rem;
        }

        .cert-card p {
            margin: 0;
            max-width: 90%;
            text-align: center;
            font-size: 0.8rem;
        }

        .cert-card-logo:not(.nintex) {
            width: 125px;
            height: 25px;
        }

        .cert-card-logo.nintex {
            width: 130px;
        }

        .cert-card-logo.abbyy {
            width: 120px;
            height: unset;
        }
    }
</style>
