---
import type { CertCard } from "./CertCard.astro";

export interface Props {
	children: CertCard | CertCard[];
}
---

<div class={`fixed-grid has-${4}-cols has-${2}-cols-mobile`}>
	<ul class="grid is-col-min-7">
		<slot />
	</ul>
</div>

<style>
	ul {
		list-style: none;
		margin: 0;
	}
</style>
