---
import { Icon } from "astro-icon/components";

export type DevListItem = {
    tooltipPlacement?: string;
    tooltipText: string;
    iconName: string;
};

export interface Props {
    tooltipPlacement?: string;
    tooltipText: string;
    iconName: string;
}

const { tooltipPlacement = "bottom", tooltipText, iconName } = Astro.props;
---

<li class="dev-list-inline-item" tabindex="0" data-tooltip={tooltipPlacement} data-tooltip-text={tooltipText}>
    <div class="m-0">
        <Icon name={iconName} />
    </div>
</li>

<style>
    .dev-list-inline-item {
        transition: all 300ms;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dev-list-inline-item:hover,
    .dev-list-inline-item:focus-visible {
        transform: scale(1.1);
    }
</style>
