---
import ProfilePicture from "@components/astro/global/ProfilePicture.astro"
---

<div class="hero">
    <ProfilePicture/>
    <div>
        <slot/>
    </div>
</div>

<style>
    .hero {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        width: 100%;
        justify-content: start;

        @media screen and (max-width: 768px) {
            flex-direction: column;            
        }
    }
</style>