---
import ProfilePicture from "@components/astro/global/ProfilePicture.astro";
---

<div class="hero place-items-start">
	<div class="hero-content flex-col lg:flex-row justify-start">
		<ProfilePicture />
		<div>
			<slot />
		</div>
	  </div>
</div>
