---
interface Props {
    accentColor: string;
}

const { accentColor } = Astro.props;
---

<div class="progress-bar"></div>

<style define:vars={{ accentColor }}>
    .progress-bar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 9000;
        background: linear-gradient(to right, white var(--scroll), transparent 0);
        background-repeat: no-repeat;
    }
</style>

<script>
    // https://blog.webjeda.com/top-bar-website/

    const setupProgressBar = () => {
        let progressBar: HTMLElement = document.documentElement,
            body: HTMLElement = document.body,
            progress = document.querySelector<HTMLDivElement>(".progress-bar"),
            scroll: number;

        document.addEventListener("scroll", function () {
            scroll = ((progressBar.scrollTop || body.scrollTop) / ((progressBar.scrollHeight || body.scrollHeight) - progressBar.clientHeight)) * 100;
            progress?.style.setProperty("--scroll", scroll + "%");
        });
    };

    document.addEventListener(
        "astro:page-load",
        (e) => {
            setupProgressBar();
        },
        { once: false },
    );
</script>
