---
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";

// Thanks! https://codepen.io/robooneus/pen/noEKNr

interface Props {
    href: string;
}

const { href } = Astro.props;
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["resume"]);
---

<a class="arrow-wrap" href={href} id="indicator" aria-label={t("resume.scroll_next")} title={t("resume.scroll_next")}>
    <span class="arrow"></span>
</a>

<style>
    .arrow-wrap {
        z-index: 1;
        background: rgba(var(--secondary), 1);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 0.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        border: var(--border);
        box-shadow: var(--global-box-shadow);

        @media (max-width: 468px) {
            transform: scale(0.85);
        }
    }

    .arrow {
        float: left;
        position: relative;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 1.5em 1.5em 0 1.5em;
        border-color: var(--body-color) transparent transparent transparent;
        transform: rotate(360deg);
        margin-top: 0.5em;
    }

    .arrow:after {
        content: "";
        position: absolute;
        top: -1.8em;
        left: -1.5em;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 1.5em 1.5em 0 1.5em;
        border-color: rgba(var(--secondary), 1) transparent transparent transparent;
        transform: rotate(360deg);
    }

    .arrow-wrap:focus-visible {
        box-shadow: 0 0 0 0.2rem rgba(var(--accent), 1);
    }

    .arrow-wrap .arrow {
        animation: arrows 2.8s 0.4s;
        animation-delay: 1s;
        animation-timing-function: ease-in-out;
    }

    @keyframes arrows {
        0% {
            transform: translateY(0);
        }
        10% {
            transform: translateY(10%);
        }
        20% {
            transform: translateY(0);
        }
        30% {
            transform: translateY(10%);
        }
        40% {
            transform: translateY(-10%);
        }
        50% {
            transform: translateY(10%);
        }
        60% {
            transform: translateY(0);
        }
        70% {
            transform: translateY(10%);
        }
        80% {
            transform: translateY(-10%);
        }
        90% {
            transform: translateY(10%);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>

<script>
    const hideIndicator = () => {
        const mouseElem = document.getElementById("indicator") as HTMLElement;
        if (!mouseElem) {
            return;
        }

        const maxScroll = 250;
        const initialOpacity = Number(window.getComputedStyle(mouseElem).opacity) ?? 1;

        document.addEventListener("scroll", (e) => {
            let opacity = initialOpacity - window.scrollY / maxScroll;
            mouseElem.style.opacity = opacity.toString();
        });
    };
    document.addEventListener(
        "astro:page-load",
        (e) => {
            hideIndicator();
        },
        { once: false },
    );
</script>
