---
// Thanks! https://github.com/markteekman/accessible-astro-components/blob/main/Breadcrumbs.astro
import { type BreadCrumbsItem } from "./BreadCrumbsItem.astro"

interface Props {
  children: BreadCrumbsItem | BreadCrumbsItem[]
}
---

<nav class="breadcrumbs" aria-label="Breadcrumbs">
  <ol>
    <slot />
  </ol>
</nav>

<style is:global>
  .breadcrumbs ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
</style>