---
// Thanks! https://github.com/markteekman/accessible-astro-components/blob/main/BreadcrumbsItem.astro
export type BreadCrumbsItem = {
	href?: string;
	label: string;
	currentPage?: boolean;
};

interface Props {
	href?: string;
	label: string;
	currentPage?: boolean;
}

const { href = "#", label = "Breadcrumb", currentPage = false } = Astro.props;
---

<li class={`${currentPage && "is-active"}`}>
	{currentPage ? <a aria-current="page" href={href}>{label}</a> : <a href={href}>{label}</a>}
</li>
