---
import { type CollectionEntry } from "astro:content";
import { getLocale } from "@i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getCategoryDescriptionByLocale, getCategoryTitleByLocale } from "@utils/getCategoryByLocale";
import { Icon } from "astro-icon/components";

interface Props {
    category: CollectionEntry<"categories">;
}

const { category } = Astro.props;
const locale = getLocale(Astro.url);

const title = await getCategoryTitleByLocale(locale, category.id);
const description = await getCategoryDescriptionByLocale(locale, category.id);
---

<li>
    <div class="title">
        <i class="bi bi-dot"></i>
        <a href={getRelativeLocaleUrl(locale, `/blog/categories/${category.id}`)}>
            {title}
        </a>
    </div>
    <div class="description">
        <i><Icon name="bi:arrow-return-right"/></i>
        <span>{description}</span>
    </div>
</li>

<style>
    li {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .title {
            display: flex;
            align-items: center;

            font-size: 1.2rem;
            i {
                font-size: 2rem;
            }
        }

        .description {
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-left: 0.7rem;

            i {
                font-size: 1.3rem;
            }
        }
    }
</style>
