---
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import { Icon } from "astro-icon/components";
import PostsList from "./PostsList.astro";
import type { IGenCategoryMetaFragment } from "@services/graphql/__generated/sdk";
import { getAllBlogArticlesByCategoryAndLocale } from "@services/content/getAllBlogArticlesByCategoryAndLocale";
import { getAbsoluteCategoryUrl } from "@utils";
import PostsGrid from "./PostsGrid.astro";


interface Props {
    category: IGenCategoryMetaFragment;
}

const { category } = Astro.props;
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["blog"]);

const title = category?.name;
const description = category?.description;
const url = getAbsoluteCategoryUrl(locale, category);

const posts = await getAllBlogArticlesByCategoryAndLocale({locale, categoryName: category.name!})
---

{
    posts && posts.length !== 0 && (
        <li class="category">
            <h2 class="title">
                <a href={url}>{title}</a>
            </h2>
            <p class="description">
                <i>
                    <Icon name="bi:arrow-return-right" />
                </i>
                <span>{description}</span>
            </p>
            <PostsGrid posts={posts} />
        </li>
    )
}

<style>
    .category {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        h2 {
            a:visited {
                color: rgba(var(--accent), 1);
            }
        }

        .title {
            display: flex;
            align-items: center;
        }

        .description {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-left: 0.4rem;
        }
    }
</style>
