---
import * as m from "$messages";
import { getBlogPostDate, wasPostUpdated } from "@utils/content";

interface Props {
	pubDate: string | Date;
	modDate: string | Date | undefined;
	locale: string;
	showTime?: boolean;
}

const { pubDate, modDate, locale, showTime = false } = Astro.props;

const date = getBlogPostDate(locale, pubDate, modDate);
---

<div>
	{modDate && <span>{wasPostUpdated(pubDate, modDate) ? m.blog__updated_date_title() : m.blog__published_date_title()}</span>}
	<time datetime={date.iso}>{date.date}</time>
</div>

<style>
	span,
	time {
		font-size: inherit;
		font-weight: inherit;
	}
</style>
