---
import { getBlogPostDateTime, wasPostUpdated } from "@utils";
import * as m from "$messages";

interface Props {
    pubDateTime: string | Date;
    modDatetime: string | Date | null;
    locale: string;
}

const { pubDateTime, modDatetime, locale } = Astro.props;

const date = getBlogPostDateTime(locale, pubDateTime, modDatetime);
---

<span>{wasPostUpdated(pubDateTime, modDatetime) ? m.blog__updated_date_title() : m.blog__published_date_title()}</span>
<time datetime={date.iso}>{date.date}</time>
<span> | </span>
<span>{date.time}</span>

<style>
    span,
    time {
        font-size: inherit;
        font-weight: inherit;
    }
</style>
