---
import { t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import { Icon } from "astro-icon/components";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { IGenTagMetaFragment } from "@services/graphql/__generated/sdk";
import { getAllBlogArticlesByTagAndLocale } from "@services/content/getAllBlogArticlesByTagAndLocale";
import PostsGrid from "./PostsGrid.astro";

interface Props {
    tag: IGenTagMetaFragment;
}

const { tag } = Astro.props;
const locale = getLocale(Astro.url);

const posts = await getAllBlogArticlesByTagAndLocale({ locale, tagId: tag?.id! });

const title = tag?.name!;
const url = getRelativeLocaleUrl(locale, `/blog/tags/${tag?.name!}/`);
---

{
    posts && posts.length !== 0 && (
        <li class="tag">
            <h2 class="title">
                <a href={url} aria-label={{ title } + t("blog.tag")}>
                    <i>
                        <Icon name="bi:tag" />
                    </i>
                    {title}
                </a>
            </h2>
            <PostsGrid posts={posts} />
        </li>
    )
}

<style>
    .tag {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 100%;

        h2 {
            a {
                display: flex;
                gap: 0.3rem;
                color: rgba(var(--accent), 1);

                &:visited {
                    color: rgba(var(--accent), 1);
                }
            }

            svg {
                margin-top: 0.2rem;
            }
        }
    }
</style>
