---
import type { CollectionEntry } from "astro:content";
import { getEntries } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { AllowedLocales } from "@i18n-config";

interface Props {
	post?: CollectionEntry<"posts">;
	tags?: CollectionEntry<"tags">[];
}

const { post, tags } = Astro.props;

const locale = Astro.currentLocale as AllowedLocales;
---

<ul class="tag-list">
	{
		tags &&
			tags.map((tag) => (
				<li>
					<a class="underline" href={getRelativeLocaleUrl(locale, `/blog/tags/${tag.id}/`)}>#{tag.data.languages[locale].toLowerCase()}</a>
				</li>
			))
	}
	{
		post && (
			<>
				{(async () => {
					const relatedTags = await getEntries(post.data.tags);
					return (
						<>
							{relatedTags.map(async (tag) => {
								return (
									<li>
										<a class="underline" href={getRelativeLocaleUrl(locale, `/blog/tags/${tag.id}/`)}>#{tag.data.languages[locale].toLowerCase()}</a>
									</li>
								);
							})}
						</>
					);
				})()}
			</>
		)
	}
</ul>

<style>
	.tag-list {
		display: flex;
		gap: 0.3rem;
		flex-wrap: wrap;
		text-align: center;

		li {
			a {
				display: inline-block;
				font-size: 0.875rem;
				position: relative;
				color: rgba(var(--accent));

				&:visited {
					color: rgba(var(--accent));
				}
			}
		}
	}
</style>
