---
import type { CollectionEntry } from "astro:content";
import AllEntriesUrl from "@components/astro/common/AllEntriesUrl.astro";
import { m } from "@paraglide/messages";
import Section, { type Props as SectionProps } from "../common/Section.astro";
import ProjectsGrid from "./ProjectsGrid.astro";

interface Props {
	projects: CollectionEntry<"projects">[];
	filterFeatured?: boolean;
	showSeeAllUrl?: boolean;
	sectionProps?: SectionProps;
}

const { projects, filterFeatured = false, showSeeAllUrl = true, sectionProps } = Astro.props;

const defaultSectionProps: SectionProps = {
	isFirstSection: false,
	id: "recentPosts",
	sectionTitle: m.projects__projects_title(),
	heading: "h2",
};

const mergedSectionProps = { ...defaultSectionProps, ...sectionProps };
---

<Section {...mergedSectionProps}>
	<ProjectsGrid projects={projects} />
	{
		showSeeAllUrl && (
			<>
				<AllEntriesUrl url="/projects" urlDescription={m.projects__see_all()} />
			</>
		)
	}
</Section>
