---
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import Intro from "@components/astro/home/Intro.astro";
import Projects from "@components/astro/projects/RecentProjects.astro";
import Contact from "@components/astro/global/Contact.astro";
import { getStaticPaths } from "@i18n/utils";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/astro/global/Section.astro";
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";

export { getStaticPaths };

// i18next
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["contact", "common", "blog", "projects"]);

const layoutProps = {
    title: t("common.home_page"),
    description: t("common.site_description"),
    homepage: true,
};
---

<PageLayout {...layoutProps}>
    <Section id="hero">
        <Intro />
    </Section>
    <Section id="projects" sectionTitle={t("projects.projects_title")}>
        <Projects />
    </Section>
    <FeaturedPosts postSize={3} />
    <RecentPosts postSize={3} filterFeatured={true} />
</PageLayout>
