---
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import Section from "@components/astro/global/Section.astro";
import Intro from "@components/astro/home/Intro.astro";
import ProjectsList from "@components/astro/projects/ProjectsList.astro";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale, getStaticPaths } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";
import { caisySDK } from "src/services/graphql/getSdk";
import { getPaginatedBlogArticlesByLocale } from "../../../services/content/getAllBlogArticlesByLocale"
export { getStaticPaths };

// i18next
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["contact", "common", "blog", "projects"]);

const layoutProps = {
    title: t("common.home_page"),
    description: t("common.site_description"),
    homepage: true,
};

const postSize = 3;
/*
const test = await getPaginatedBlogArticlesByLocale({locale});
console.log(test);
*/

const id = "054954a6-96dc-4dfd-b652-85db10d01aed";
const test2 = await caisySDK.blogArticleByLocale({id, locale});
console.log(test2.BlogArticle);
---

<PageLayout {...layoutProps}>
    <Section id="hero">
        <Intro />
    </Section>
    <Section id="projects" sectionTitle={t("projects.projects_title")}>
        <ProjectsList />
    </Section>
    <FeaturedPosts {postSize} />
    <RecentPosts {postSize} />
</PageLayout>
