---
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import Intro from "@components/astro/home/Intro.astro";
import Projects from "@components/astro/home/Projects.astro";
import Contact from "@components/astro/home/Contact.astro";
import { getStaticPaths } from "@i18n/utils";
import RecentPosts from "@components/astro/home/RecentPosts.astro";
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/astro/global/Section.astro";
import FeaturedPosts from "@components/astro/home/FeaturedPosts.astro";

export { getStaticPaths };

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["contactForm", "shared", "landing"];
await loadNamespaces(locale, namespaces);

const layoutProps = {
    title: "Dalibor Hon",
    description: t("landing:description"),
    homepage: true
};
---

<PageLayout {...layoutProps}>
    <Section id="hero">
        <Intro />
    </Section>
    <Section id="projects" sectionTitle={t("landing:projects_title")}>
        <Projects />
    </Section>
    <Section id="featuredPosts" sectionTitle="Featured posts">
        <FeaturedPosts />
    </Section>
    <Section id="recentPosts" sectionTitle={t("landing:blog_title")}>
        <RecentPosts />
    </Section>
    <Section id="contact" sectionTitle={t("shared:LeaveMeAMessage")} sectionDescription={t("contactForm:ContactMe")}>
        <Contact />
    </Section>
</PageLayout>