#fs-frm input:not([type="submit"]),
#fs-frm textarea {
    min-height: 40px;
    background-color: rgba(var(--secondary), 1);
    padding: 0.5rem 0.8rem;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;

    &::placeholder {
        opacity: 0.2; /* Firefox */
    }
}

* *::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: red;
}

#fs-frm .textarea-container {
    height: calc(100% - 31px);
    width: 100%;
    position: relative;

    textarea {
        min-width: 100%;
        min-height: 100%;
        resize: vertical;

        @media (max-width: 768px) {
            min-height: 140px;
        }
    }
}

#fs-frm {
    margin-top: 0.25rem;
    display: flex;
    flex-direction: column;
}

#fs-frm fieldset {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 1rem;

    @media (max-width: 768px) {
        grid-template-columns: unset;
        grid-template-rows: repeat(2, min-content);
    }
}

/* Chrome shenanigans */
#fs-frm input:autofill {
    box-shadow: 0 0 0 1000px var(--card-bg) inset !important;
    -webkit-text-fill-color: white !important;
    transition:
        background-color 600000s 0s,
        color 600000s 0s !important;
}

#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
    /* background-color: transparent; */
    outline-style: solid;
    outline-width: thin;
    outline-color: rgba(var(--accent), 0.5);
    outline-offset: -1px;
}

#fs-frm #fs-frm-form-status {
    text-align: left;
    font-size: 1.5rem;
    margin-top: 10px;
}

#fs-frm #fs-frm-form-status::first-letter {
    text-transform: capitalize;
}

#fs-frm .error {
    color: red;
    font-weight: 800;
    margin-top: 0.25rem;
}

#submit-success {
    text-align: center;
    padding: 1rem;
    font-size: 1.25rem;
    color: rgba(var(--accent), 1);
}

#fs-frm .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: auto;
    margin-top: 0.5rem;

    @media (max-width: 480px) {
        width: 100%;
        justify-content: baseline;
    }
}

#fs-frm .button {
    border: 2px solid rgba(var(--accent), 1);
    position: relative;
    height: 45px;

    @media (max-width: 480px) {
        padding: 0.8rem;
        width: 100%;
    }
}

#fs-frm .button:hover {
    background-color: rgba(var(--accent), 1);
}

#fs-frm #loading {
    width: 30px;
    height: 30px;
    position: absolute;
}
