---
import Contact from "@components/astro/global/Contact.astro";
import Section from "@components/astro/global/Section.astro";
import * as m from "$messages";
import PageLayout from "@layouts/PageLayout.astro";
import { Icon } from "astro-icon/components";

export { getStaticPaths } from "@i18n/utils";

const layoutProps = {
    title: m.contact__leave_message_title(),
};
---

<PageLayout {...layoutProps}>
    <Section isFirstSection sectionTitle={m.contact__leave_message_title()} sectionDescription={m.contact__contact_me_form()} id="contact">
        <Contact />
    </Section>
    <Section sectionTitle={m.common__social_links_title()} sectionDescription={m.contact__contact_me_social()} id="contactSocial">
        <div class="socials-container">
            <ul class="social-list">
                <li>
                    <a href="https://github.com/dallyh" title="GitHub" aria-label="GitHub" target="_blank">
                        <i><Icon name="bi:github" /></i>GitHub
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dalibor-hon/" title="LinkedIn" aria-label="LinkedIn" target="_blank">
                        <i><Icon name="bi:linkedin" /></i>LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </Section>
</PageLayout>

<style>
    .socials-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .social-list {
        font-size: 1.2rem;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            display: inline-flex;
            gap: 0.5rem;

            i {
                color: var(--body-color);
            }
        }
    }
</style>
