---
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import Contact from "@components/astro/global/Contact.astro";
import { getStaticPaths } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";
import Section from "@components/astro/global/Section.astro";
import { Icon } from "astro-icon/components";

export { getStaticPaths };

// i18next
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["contact", "common"]);

const layoutProps = {
    title: t("contact.leave_message_title"),
};
---

<PageLayout {...layoutProps}>
    <Section isFirstSection sectionTitle={t("contact.leave_message_title")} sectionDescription={t("contact.contact_me_form")} id="contact">
        <Contact />
    </Section>
    <Section sectionTitle={t("common.social_links_title")} sectionDescription={t("contact.contact_me_social")} id="contactSocial">
        <div class="socials-container">
            <ul class="social-list">
                <li>
                    <a href="https://github.com/dallyh" title="GitHub" aria-label="GitHub" target="_blank">
                        <i><Icon name="bi:github" /></i>GitHub
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/dalibor-hon/" title="LinkedIn" aria-label="LinkedIn" target="_blank">
                        <i><Icon name="bi:linkedin" /></i>LinkedIn
                    </a>
                </li>
            </ul>
        </div>
    </Section>
</PageLayout>

<style>
    .socials-container {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .social-list {
        font-size: 1.2rem;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        a {
            display: inline-flex;
            gap: 0.5rem;

            i {
                color: var(--body-color);
            }
        }
    }
</style>
