---
import i18n, { loadNamespaces } from "@i18n/i18n";
import type { ContactForm as ContactFormRes } from "@i18n/locales/localeTypes";
import { getLocale } from "astro-i18n-aut";
import ContactForm from "@components/react/global/contact-form/ContactForm";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["contactForm"];
await loadNamespaces(locale, namespaces);
const res: ContactFormRes = i18n?.getResourceBundle(locale, "contactForm");
---

<div class="contact-form-wrapper">
    <div class="contact-form">
        <ContactForm resources={res} client:load />
    </div>
</div>

<style>
    .contact-form-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /* 
            This is here because of a bug i'm not able to figure out.
            Without this on form submission the whole form shriks, when some error elements are displayed.
        */
        .contact-form {
            width: 100%;
        }
    }
</style>