---
import { getLocale } from "@i18n/utils";
import { getCollection } from "astro:content";
import BlogPostPreview from "@components/astro/blog/BlogPostPreview.astro";
import { getBlogPostUrl } from "@utils/getBlogPostUrl";
import { SITE } from "@config";

// i18next
const locale = getLocale(Astro.url);

//Blogs
const allPosts = await getCollection("posts", ({ data }) => {
    return data.language === locale && !data.draft && data.featured;
});

const filteredPosts = allPosts.sort((a, b) => new Date(b.data.pubDateTime).valueOf() - new Date(a.data.pubDateTime).valueOf()).slice(0, SITE.featuredPostsSize);
---

<ul>
    {
        filteredPosts.map((post) => (
            <li>
                <BlogPostPreview post={post} url={getBlogPostUrl(locale, post.slug)} />
            </li>
        ))
    }
    {filteredPosts.length === 0 && <p>There are currently no featured posts. 😞</p>}
</ul>

<style>
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
    }

    p {
        display: flex;
        justify-content: center;
    }
</style>
