---
import * as m from "$messages";
import profilePicture from "@assets/img/profile/me.png";
import ProfilePicture from "@components/astro/global/ProfilePicture.astro";
import SocialLinks from "./SocialLinks.astro";
---

<div class="hero">
	<div class="hero-body is-medium">
		<div class="media">
			<div class="media-left">
				<div class="hero-image">
					<ProfilePicture img={profilePicture} imgClass="picture-bw" />
				</div>
			</div>
			<div class="media-content">
				<div class="content">
					<h1 class="title">{m.landing__hi_there()} Dalibor<span class="shake">👋</span></h1>
					<p class="subtitle mb-1 mt-2 is-size-6">
						<span class="icon-text tag is-primary">
							<span class="icon">
								<i class="fa-solid fa-location-dot"></i>
							</span>
							<span>{m.common__country_czech_republic()}</span>
						</span>
						<span class="icon-text tag is-primary">
							<span class="icon">
								<i class="fa-solid fa-circle-dot"></i>
							</span>
							<span class="has-text-dark" id="time">00:00</span>
						</span>
					</p>
					<p class="subtitle mb-1 is-size-6">
						<span class="icon-text tag is-primary">
							<span class="icon">
								<i class="fa-solid fa-suitcase"></i>
							</span>
							<span>Business Consultant</span>
						</span>
					</p>
					<p class="subtitle is-size-6">
						
					</p>
				</div>
				<div class="social">
					<SocialLinks />
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	function displayClock() {
		var display = new Date().toLocaleTimeString("cs-CZ");
		var ele = document.getElementById("time");
		if (!ele) {
			return;
		}
		ele.innerHTML = `${display} CET`;
		setTimeout(displayClock, 1000);
	}

	document.addEventListener("DOMContentLoaded", displayClock);
	document.addEventListener("astro:after-swap", displayClock);
</script>

<style>
	@media (max-width: 768px) {
		.media {
			display: flex;
			flex-direction: column;
		}

		.media-content {
			margin-top: 0.75rem;
		}
	}

	.social {
		margin-left: -0.5rem;
	}

	@keyframes blink {
		0% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
</style>
