---
import * as m from "$messages";
import profilePicture from "@assets/img/profile/me.png";
import ProfilePicture from "@components/astro/global/ProfilePicture.astro";
import SocialLinks from "./SocialLinks.astro";
---

<div class='hero"'>
	<div class="hero-body">
		<div class="hero-title">
			<h1 class="title">{m.landing__hi_there()} Dalibor<span class="shake">👋</span></h1>
			<p class="subtitle mb-1 mt-2 is-size-6">
				<span class="icon-text">
					<span class="icon">
						<i class="fa-solid fa-location-dot"></i>
					</span>
					<span>Ostrava, {m.common__country_czech_republic()}</span>
				</span>
			</p>
			<p class="subtitle is-size-6">
				<span class="icon-text">
					<span class="icon">
						<i class="fa-solid fa-suitcase"></i>
					</span>
					<span>Business Consultant</span>
				</span>
			</p>
			<div class="social">
				<SocialLinks />
			</div>
		</div>
		<div class="hero-image">
			<ProfilePicture img={profilePicture} imgClass="picture-bw" />
		</div>
	</div>
</div>

<style>
	.hero-body {
		display: flex;
		justify-content: space-between;
		width: 100%;

		.title {
			font-size: clamp(1rem, 7vw, 2rem);

			span {
				display: inline-block;
			}

			@media (max-width: 468px) {
				display: block;
			}
		}

		@media screen and (max-width: 768px) {
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;

			.hero-title {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}

			.subtitle {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.social {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.title {
				margin-top: 1.5rem;
			}
		}
	}

	@keyframes shake {
		10% {
			transform: scale(1.05) rotate(5deg);
		}
		20% {
			transform: scale(1.05) rotate(-5deg);
		}
		30% {
			transform: scale(1.05) rotate(5deg);
		}
		40% {
			transform: none;
		}
	}

	.shake {
		animation: shake 2s infinite;
	}

	.picture-bw {
		filter: grayscale(1);
	}
</style>
