---
interface Props {
    href: string;
    hrefTitle: string;
    description: string;
}

const { href, hrefTitle, description } = Astro.props;
---

<div class="card">
    <div class="card-content">
        <div class="card-image">
            <slot name="image" />
        </div>
        <div class="card-info-wrapper">
            <div class="card-info">
                <div class="card-info-title">
                    <a href={href} target="_blank">{hrefTitle}</a>
                    <div class="card-info-tags">
                        <slot name="tags" />
                    </div>
                </div>
                <p><Fragment set:html={description} /></p>
            </div>
        </div>
    </div>
</div>

<style is:global>
    .card-image {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        height: 120px;
        width: 100px;
        color: var(--body-color);
        opacity: 0.8;

        > svg {
            padding: 0.2rem;
            height: 100%;
            width: 100%;
        }

        [data-icon="lemmy-icon"] {
            color: black;
        }
    }
</style>

<style>
    .card {
        background-color: var(--card-bg);
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: var(--global-box-shadow);
        border-radius: 6px;
        padding: 1rem;
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: var(--border);
    }

    .card-content {
        display: flex;
        gap: 1rem;
        width: 100%;
        height: 100%;

        @media (max-width: 468px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .card-info-wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        padding: 0px 20px;
        width: 100%;
        height: 100%;
    }

    .card-info {
        align-items: flex-start;
        display: flex;
        gap: 10px;
    }

    .card-info-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 0.725rem;
        margin-top: 0.5rem;
        color: black;
        font-weight: 600;

        :global(.rounded-tag) {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-radius: 8px;
        }
    }

    .card-info {
        display: flex;
        flex-direction: column;
        > p {
            color: var(--body-color);
            font-size: 0.85em;
            margin-top: 8px;
        }
    }

    .card-info-title {
        > a {
            font-weight: 600;
            position: relative;
            display: inline-flex;
            min-height: 25px;

            i {
                margin-right: 5px;
            }
        }
    }
</style>
