---
import { Image } from "astro:assets";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale } from "@i18n/utils";
import Lemmy from "@assets/img/projects/lemmy.svg";
import ProjectCard from "./ProjectCard.astro";

// TO-DO Create a collection for Projects and Project tags, and automate this page

// i18next
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["projects"]);
---

<div class="projects-cards-wrapper">
    <div class="cards">
        <ProjectCard href="https://github.com/dallyh/daliborhon.dev" hrefTitle={t("projects.this_website_title")} description={t("projects.this_website_description")}>
            <i class="bi bi-file-earmark-code-fill" slot="image"></i>
            <div class="rounded-tag astro" slot="tags">Astro.js</div>
            <div class="rounded-tag typescript" slot="tags">TypeScript</div>
            <div class="rounded-tag javascript" slot="tags">JavaScript</div>
            <div class="rounded-tag react" slot="tags">React</div>
            <div class="rounded-tag webdev" slot="tags">Web</div>
        </ProjectCard>
        <ProjectCard
            href="https://github.com/dallyh/static-cms-gh-oauth-provider"
            hrefTitle={t("projects.cms_oauth_title")}
            description={t("projects.cms_oauth_description")}
        >
            <i class="bi bi-person-fill-lock" slot="image"></i>
            <div class="rounded-tag astro" slot="tags">Astro.js</div>
            <div class="rounded-tag typescript" slot="tags">TypeScript</div>
            <div class="rounded-tag webdev" slot="tags">Web</div>
        </ProjectCard>
        <ProjectCard href="https://github.com/dallyh/lemmy-kt-client" hrefTitle={t("projects.lemmy_kt_client_title")} description={t("projects.lemmy_kt_client_description")}>
            <Image class="lemmy-logo" slot="image" src={Lemmy} width={85} format="webp" alt="Lemmy software logo" loading="eager" />
            <div class="rounded-tag kmp" slot="tags">Kotlin Multiplatform</div>
        </ProjectCard>
    </div>
</div>

<style>
    .projects-cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .astro {
        background-color: rgb(232 121 249);
    }

    .typescript {
        background-color: rgb(251 113 133);
    }

    .webdev {
        background-color: rgb(163 230 53);
    }

    .javascript {
        background-color: rgb(250 204 21);
    }

    .kmp {
        background: #7f52ff linear-gradient(to right, #ef4857 0, #de4970 20%, #b44db0 50%, #7f52ff 100%);
    }

    .react {
        background-color: rgb(20 158 202);
    }
</style>
