<ul class="flex gap-4">
	<li>
		<a class="link link-accent" href="https://github.com/dallyh" title="GitHub" aria-label="GitHub" target="_blank">
			<i class="fa-brands fa-github fa-2x"></i>
		</a>
	</li>
	<li>
		<a class="link link-accent" href="https://www.linkedin.com/in/dalibor-hon/" title="LinkedIn" aria-label="LinkedIn" target="_blank">
			<i class="fa-brands fa-linkedin fa-2x"></i>
		</a>
	</li>
	<li>
		<a class="link link-accent" href="mailto:contact@daliborhon.dev" title="Email" aria-label="email">
			<i class="fas fa-envelope fa-2x"></i>
		</a>
	</li>
</ul>
