---
import { siteConfig } from "@daliborhon.dev/shared/frontend";
import * as m from "$messages";
import { languageTag } from "$paraglide-runtime";
import ProjectCard from "./ProjectCard.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import AllEntriesUrl from "@components/astro/global/AllEntriesUrl.astro";
import { getRecentProjectsByLocale } from "@services/content/getRecentProjectsByLocale";
import { getAllProjects } from "@services/sanity/content/projects"

interface Props {
    recentSize?: number;
    listAll?: boolean;
}

const { recentSize = siteConfig.projects.recentProjectsSize, listAll = false } = Astro.props;

const locale = Astro.currentLocale!;

const projects = await getAllProjects({locale: locale});

const allEntriesProps = {
    url: getRelativeLocaleUrl(locale, "/projects"),
    urlDescription: m.projects__see_all(),
};
---

<div class="projects">
    <div class="projects-cards-wrapper">
        <ul class="cards">
            {
                projects.map((project) => {
                    return (
                        <li>
                            <ProjectCard {project} />
                        </li>
                    );
                })
            }
        </ul>
    </div>
    {!listAll && <AllEntriesUrl {...allEntriesProps} />}
</div>

<style>
    .projects {
        display: flex;
        flex-direction: column;
    }

    .projects-cards-wrapper {
        margin-bottom: 1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
</style>
