---
import * as m from "$messages";
import AllEntriesUrl from "@components/astro/global/AllEntriesUrl.astro";
import { allProjectsQuery } from "@services/sanity/queries/projects";
import { runQuery } from "@services/sanity/runQuery";
import ProjectCard from "./ProjectCard.astro";

interface Props {
	recentSize?: number;
	showAllUrl?: boolean;
}

const { showAllUrl = false, recentSize } = Astro.props;
const locale = Astro.currentLocale!;
const query = allProjectsQuery(recentSize);
const projects = await runQuery(query, { language: locale });

const allEntriesProps = {
	url: "/projects",
	urlDescription: m.projects__see_all(),
};
---

<div class="projects">
	<div class="projects-cards-wrapper">
		<ul class="cards">
			{
				projects.map((project) => {
					return (
						<li>
							<ProjectCard {project} />
						</li>
					);
				})
			}
		</ul>
	</div>
	{!showAllUrl && <AllEntriesUrl {...allEntriesProps} />}
</div>

<style>
	.projects {
		display: flex;
		flex-direction: column;
	}

	.projects-cards-wrapper {
		margin-bottom: 1rem;
	}

	.cards {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		gap: 1rem;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}
</style>
