@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	themes: false;
}

@plugin "daisyui/theme" {
	name: "light";
	default: false;
	prefersdark: false;
	color-scheme: "light";
	--color-base-100: oklch(98% 0 0);
	--color-base-200: oklch(94% 0 0);
	--color-base-300: oklch(90% 0 0);
	--color-base-content: oklch(12% 0 0);
	--color-primary: oklch(40% 0.252 147.43);
	--color-primary-content: oklch(92% 0.042 264.695);
	--color-secondary: oklch(30% 0 0);
	--color-secondary-content: oklch(90% 0 0);
	--color-accent: oklch(30% 0 0);
	--color-accent-content: oklch(90% 0 0);
	--color-neutral: oklch(30% 0 0);
	--color-neutral-content: oklch(90% 0 0);
	--color-info: oklch(40% 0.252 250);
	--color-info-content: oklch(92% 0.003 247.858);
	--color-success: oklch(40% 0.252 135);
	--color-success-content: oklch(92% 0.042 264.695);
	--color-warning: oklch(40% 0.252 100);
	--color-warning-content: oklch(95% 0.042 109.769);
	--color-error: oklch(40% 0.252 25);
	--color-error-content: oklch(92% 0.042 264.695);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.3125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "dark";
	default: true;
	prefersdark: false;
	color-scheme: "dark";
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(28% 0 0);
	--color-base-300: oklch(35% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(87.29% 0.252 147.43);
	--color-primary-content: oklch(12% 0.042 264.695);
	--color-secondary: oklch(35% 0 0);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(35% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(87.29% 0.252 250);
	--color-info-content: oklch(0% 0 0);
	--color-success: oklch(87.29% 0.252 135);
	--color-success-content: oklch(12% 0.042 264.695);
	--color-warning: oklch(87.29% 0.252 100);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(87.29% 0.252 25);
	--color-error-content: oklch(12% 0.042 264.695);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.3125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@layer utilities {
	h1 {
		@apply text-4xl;
		@apply font-bold;
		@apply font-mono;
	}

	h2 {
		@apply text-3xl;
		@apply font-bold;
		@apply font-mono;
	}

	h3 {
		@apply text-2xl;
		@apply font-bold;
		@apply font-mono;
	}

	h4 {
		@apply text-xl;
		@apply font-bold;
		@apply font-mono;
	}

	h5 {
		@apply text-lg;
		@apply font-bold;
		@apply font-mono;
	}

	h6 {
		@apply font-bold;
		@apply font-mono;
	}
}

@theme {
	--font-mono: var(--font-jetbrains-mono);
}

@utility drawer-side {
	@apply font-mono;
}

@utility badge {
	@apply font-mono;
}

@utility navbar {
	@apply font-mono;
}

@utility link {
	text-underline-offset: 3px;
	text-decoration-thickness: 1px;
	text-decoration-color: var(--color-primary);
	font-weight: 400;
	color: inherit;
	text-decoration-line: underline;
}

@utility link-hover-reverse {
	&:hover {
		text-decoration-color: var(--color-base-content);
	}
}

@utility link-hover {
	text-decoration-color: transparent;

	&:hover {
		text-decoration-color: var(--color-primary);
	}
}

@utility bg-stripes {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		right: -4px;
		bottom: -4px;
		z-index: -1;
		background-image: linear-gradient(
			45deg,
			var(--color-base-100) 33.33%,
			var(--color-primary) 33.33%,
			var(--color-primary) 50%,
			var(--color-base-100) 50%,
			var(--color-base-100) 83.33%,
			var(--color-primary) 83.33%,
			var(--color-primary) 100%
		);
		background-size: 12.73px 12.73px;
	}
}

@utility card {
	&.card-outline {
		@apply shadow-primary;
	}

	&.card-striped {
		@apply bg-stripes;
	}
}

@utility shadow-offset {
	box-shadow: 4px 4px 0 0 var(--tw-shadow-color);
}

@utility btn {
	@apply font-mono;
	&.btn-outline-shadow {
		@apply shadow-primary shadow-offset btn-outline shadow;
		transition: box-shadow 0.2s;

		&:hover {
			background-color: var(--btn-color);
			box-shadow: 0 0 0 0 var(--color-primary);
		}

		&.skeleton {
			box-shadow: 0 0 0 0 var(--color-primary);
		}
	}
}

@utility validator {
	&.invalid,
	&:has(.invalid) {
		--input-color: var(--color-error);
	}

	&.invalid,
	&:has(.invalid) {
		& ~ .validator-hint {
			visibility: visible;
			display: block;
			color: var(--color-error);
		}
	}

	&.valid,
	&:has(.valid) {
		--input-color: var(--color-success);
	}
}

@utility dropdown {
	/* Same as DaisyUI .menu.dropdown-content */
	--margin-top: calc(0.25rem * 2);

	&.dropdown-hover {
		/* Fixes hover */
		&::after {
			content: "";
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			height: var(--margin-top);
			pointer-events: auto;
		}
	}

	/* When the content is not under menu - normalize */
	.dropdown-content {
		margin-top: var(--margin-top);
	}
}

@utility has-icon {
	svg {
		@apply inline-block align-middle;
	}

	&.icon-inline {
		svg {
			@apply mb-1 h-5 w-5;
		}
	}

	&.icon-no-fix {
		svg {
			margin-bottom: unset;
		}
	}

	&.icon-left {
		svg {
			@apply mr-1;
		}
	}

	&.icon-right {
		svg {
			@apply ml-1;
		}
	}
}

@utility prose {
	:not(.expressive-code) code:not(a code),
	a:has(> code) {
		padding: 0.125rem 0.375rem;
		font-weight: 400;
		@apply bg-base-300 text-sm;

		&::before {
			content: unset;
		}

		&::after {
			content: unset;
		}
	}

	a:has(code) {
		padding: 0.125rem 0.375rem;
		@apply bg-base-300;

		code {
			font-weight: 400;
			@apply text-sm;

			&::before {
				content: unset;
			}

			&::after {
				content: unset;
			}
		}
	}
}

@utility skeleton {
	border: unset;
	color: transparent;
	pointer-events: none;

	&:has(img) {
		border-radius: unset;
		border-start-start-radius: inherit;
		border-start-end-radius: inherit;
		border-end-start-radius: unset;
		border-end-end-radius: unset;
	}

	> * {
		visibility: hidden;
	}
}

@utility menu {
	:where(li ul) {
		&::before {
			opacity: 0.4;
		}
	}
}

@utility sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@utility select {
	&::picker(select) {
		@apply bg-base-200 shadow-sm text-sm;
	}
}
