---
import i18n, { loadNamespaces, t } from "../../i18n/i18n";
import { getLocale } from "astro-i18n-aut";
import ContactForm from "../react/ContactForm/ContactForm";
import type { ContactForm as ContactFormRes } from "../../i18n/locales";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["contactForm"];
await loadNamespaces(locale, namespaces);

const res: ContactFormRes = i18n?.getResourceBundle(locale, "contactForm");
---

<div class="contact-form-dialog-wrapper" id="contactModal">
    <div class="contact-form-dialog-container">
        <div class="header">
            <p>{t("shared:LeaveMeAMessage")}</p>
        </div>
        <ContactForm resources={res} showCloseButton={true} client:load/>
    </div>
</div>

<style>
    .contact-form-dialog-wrapper {
        position: fixed;
        top: 0;
        min-width: 100vw;
        height: 100vh;
        z-index: 9999;
        background: linear-gradient(to bottom, var(--bg-color) 50%, transparent 100%);
        backdrop-filter: blur(3px);
        display: flex;
        align-items: center;
        flex-direction: column;
        transition:
            transform 500ms ease-in-out,
            opacity 600ms ease-in-out;
        transform: translateY(-105%);
        opacity: 0;
        pointer-events: none;

        @media (max-width: 480px) {
            overflow-y: scroll;
        }

        &.show {
            transform: translateY(0);
            opacity: 1;
            pointer-events: all;
        }

        .contact-form-dialog-container {
            margin-top: 5rem;
            width: 70%;

            p {
                color: rgba(var(--accent), 1);
            }

            @media (max-width: 1200px) {
                width: 90%;
            }

            @media (max-width: 768px) {
                margin-top: 1rem;
            }
        }

        .header {
            font-size: 2rem;
            font-weight: 600;
            position: relative;
            z-index: 1;
            margin-bottom: 1rem;
        }
    }
</style>

<script>
    const initializeContactModal = () => {
        const contactModal = document.querySelector<HTMLDivElement>("#contactModal");
        const closeButton = contactModal?.querySelector<HTMLButtonElement>("#fs-frm-close-button");

        if (closeButton !== undefined && closeButton !== null) {
            closeButton.onclick = (e) => {
                e.preventDefault();
                contactModal?.classList.toggle("show");
                document.documentElement.classList.toggle("no-scroll");
            };
        }
    };

    document.addEventListener(
        "astro:page-load",
        (e) => {
            initializeContactModal();
        },
        { once: false },
    );
</script>
