---
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
	url: string;
	urlDescription: string;
}

const { url, urlDescription } = Astro.props;

const locale = Astro.currentLocale!;
---

<div class="has-text-centered">
	<a class="is-inline-flex" href={getRelativeLocaleUrl(locale, url)} aria-label={urlDescription} title={urlDescription}>
		<span class="icon-text"><span>{urlDescription}</span><span class="icon"><i class="fa-solid fa-arrow-right"></i></span></span>
	</a>
</div>
