---
// Thanks! https://github.com/markteekman/accessible-astro-components/blob/main/Breadcrumbs.astro
import { type BreadCrumbsItem } from "./BreadCrumbsItem.astro";

interface Props {
	children: BreadCrumbsItem | BreadCrumbsItem[];
}
---

<div class="breadcrumbs text-sm my-4">
	<ul aria-label="breadcrumbs">
		<slot />
	</ul>
</div>
