---
import i18n, { loadNamespaces } from "@i18n/i18n";
import type { ContactRes, CommonRes } from "@i18n/locales/types";
import { getLocale } from "@i18n/utils";
import ContactForm from "@components/react/ContactForm/ContactForm";

// i18next
const locale = getLocale(Astro.url);
await loadNamespaces(locale, ["contact, common"]);
const res: ContactRes = i18n?.getResourceBundle(locale, "contact");
const common: CommonRes = i18n?.getResourceBundle(locale, "common");

---

<div class="contact-form-wrapper">
    <div class="contact-form">
        <ContactForm resources={res} commonResources={common} client:load />
    </div>
</div>

<style>
    .contact-form-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
