---
import { Image } from "astro:assets";
import { getLocale } from "@i18n/utils";
import { loadNamespaces, t } from "@i18n/i18n";

// Images
import astroSvg from "../../../../public/assets/img/astro/simple-full-logo-light.svg";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["footer"];
await loadNamespaces(locale, namespaces);
---

<footer class="footer-container">
    <p>
        {t("footer:PageCreatedBy")}
        {" "}
        <a href="https://astro.build/" aria-label="Astro Framework." title="Astro Framework">
            <Image src={astroSvg} alt="Astro.build logo." class="svg-astro" />
        </a>
    </p>
    <p>{t("footer:Host")}{" "}<a href="https://www.github.com" target="_blank"> {t("footer:Github")}</a>.</p>
    <a href="/admin/" aria-label="Site administration login." title="Site administration login"> CMS Admin</a>
</footer>

<style>
    /* Footer */
    .footer-container {
        width: 100%;
        padding: 1rem;
        gap: 0.25rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
        color: var(--footer-color);
        margin-top: 1rem;
    }

    :global(.svg-astro) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        width: 45px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(100%) grayscale(100%);
        opacity: 75%;
    }
</style>

<script>
    const initializeFooter = () => {
        const contactModal = document.querySelector<HTMLDivElement>("#contactModal");
        const contactLink = document.querySelector<HTMLAnchorElement>("#contactLink");

        if (contactLink !== undefined && contactLink !== null) {
            contactLink.onclick = (e) => {
                e.preventDefault();
                contactModal?.classList.toggle("show");
                document.documentElement.classList.toggle("no-scroll");
            };
        }
    };

    document.addEventListener(
        "astro:page-load",
        (e) => {
            initializeFooter();
        },
        { once: false },
    );
</script>
