---
import * as m from "$messages";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale!;
---

<footer class="footer-container">
    <div class="left-section">
        <a href={getRelativeLocaleUrl(locale, "/rss.xml")} title="RSS" class="rss">
            <Icon name="bi:rss-fill" />
        </a>
        <a href="https://astro.build" title="Built with Astro">
            <Image class="astro-img" src="https://astro.badg.es/v2/built-with-astro/tiny.svg" alt="Built with Astro" width={120} height={20} />
        </a>
    </div>
    <div class="right-section">
        {m.footer__page_created_by()} © {new Date().getFullYear()}
    </div>
</footer>

<style>
    /* Footer */
    .footer-container {
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;
        color: var(--footer-color);
        margin-top: 1rem;
        border-top: var(--border);

        @media (max-width: 468px) {
            flex-direction: column-reverse;
        }
    }

    .astro-img {
        filter: hue-rotate(310deg) grayscale(0.5);
        opacity: 0.7;
    }

    .left-section {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        svg {
            height: auto;
            width: 18px;
        }

        .rss,
        .rss:visited {
            color: #ee802f;
            opacity: 0.8;
        }
    }
</style>
