---
import { APP_VERSION_NAME } from "astro:env/client";
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import { removeTrailingSlash } from "@utils";
import { Icon } from "astro-icon/components";

const locale = Astro.currentLocale!;
const tagHref = `https://github.com/dallyh/daliborhon.dev/releases/tag/${APP_VERSION_NAME}`;
---

<footer class="footer section">
	<hr />
	<div class="level">
		<div class="is-flex">
			<a class="rss" href={removeTrailingSlash(getRelativeLocaleUrl(locale, "/rss.xml"))} title="RSS" aria-label="rss" class="rss">
				<span class="icon is-medium"><i class="fas fa-lg fa-solid fa-square-rss"></i></span>
			</a>
			<a class="astro" href="https://astro.build" title={m.footer__astro_a_label()} class="astro" target="_blank">
				<Icon name="astro-icon-dark" />
			</a>
			<a class="zerops" href="https://zerops.io" title="zerops.io" class="zerops" target="_blank">
				<Icon name="zerops-logo-symbol" />
			</a>
		</div>
		<div>
			<p>© {new Date().getFullYear()} - Dalibor Hon</p>
			<p class="app">
				<a href={tagHref}>{APP_VERSION_NAME}<span class="external-link-icon"><i></i></span></a>
			</p>
		</div>
	</div>
</footer>

<style>
	.is-flex {
		gap: 1rem;
		justify-content: center;
		align-items: center;

		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}
	}

	.app {
		font-size: 0.75rem;
		text-align: center;
	}

	footer {
		--bulma-footer-padding: 1rem;
		background-color: var(--bulma-scheme-main);
		padding-top: 0rem;
		padding-bottom: 1rem;
	}

	.astro {
		color: unset;

		svg {
			height: auto;
			width: 3.8rem;
		}
	}

	.zerops {
		svg {
			height: auto;
			width: 4rem;
		}
	}

	.rss,
	.rss:visited {
		color: #ee802f;
	}
</style>
