---
import { getLocale } from "@i18n/utils";
import { loadNamespaces, t } from "@i18n/i18n";
import LanguageSelector from "./LanguageSelector.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import type { CollectionEntry } from "astro:content";

interface Props {
    title: string;
    homePage?: boolean;
    post?: CollectionEntry<"posts">;
}

const { homePage = false, title, post } = Astro.props;

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["navigation"];
await loadNamespaces(locale, namespaces);
---

<header>
    <div class="header-items">
        <div class="control">
            <button class="header-burger-menu" aria-haspopup="true" aria-role="menu" id="menuButton">
                <div class="header-burger-menu-button">
                    <span></span>
                </div>
            </button>
            <div class="brand">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-code-slash" viewBox="0 0 16 16">
                    <path
                        d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"
                    ></path>
                </svg>
                <h1>{title}</h1>
            </div>
        </div>
        <nav class="nav-dropdown" id="siteNav">
            <ul>
                <li>
                    <a href={getRelativeLocaleUrl(locale, "/home")}>{t("navigation.home")}</a>
                </li>
                <li>
                    <a href={getRelativeLocaleUrl(locale, "/resume")}>{t("navigation.resume")}</a>
                </li>
                <li>
                    {homePage && <a href="#contact">{t("navigation.contact")}</a>}
                    {!homePage && <a href={getRelativeLocaleUrl(locale, "/contact")}>{t("navigation.contact")}</a>}
                </li>
                <li data-submenu="true">
                    <button class="submenu-button" aria-haspopup="true" aria-expanded="false" aria-controls="blogSubmenu">{t("navigation.blog")}</button>
                    <ul class="submenu" aria-label="submenu" id="blogSubmenu">
                        <li>
                            <a href={getRelativeLocaleUrl(locale, "/blog")}>Posts</a>
                        </li>
                        <li>
                            <a href={getRelativeLocaleUrl(locale, "/blog/posts/categories")}>Categories</a>
                        </li>
                        <li>
                            <a href={getRelativeLocaleUrl(locale, "/blog/posts/featured")}>Featured posts</a>
                        </li>
                        <li>
                            <a href={getRelativeLocaleUrl(locale, "/blog/posts/")}>All posts</a>
                        </li>
                    </ul>
                </li>
                <LanguageSelector buttonId="languageSelector" dropdownId="languageSelectorDropdown" post={post} />
            </ul>
        </nav>
    </div>
</header>

<style is:global>
    /* Currently has to be global, because of LanguageSelector */

    .nav-dropdown {
        height: var(--header-height);
        transition: 0.4s;

        @media (max-width: 468px) {
            height: auto;
            max-height: 0;
            width: 100%;
            visibility: hidden;
            overflow: hidden;
        }
    }

    body.nav-active .nav-dropdown {
        max-height: 70vh;
        visibility: visible;
    }

    body.nav-active header {
        background: rgba(var(--secondary), 1);
        box-shadow: var(--global-box-shadow);
    }

    .nav-dropdown {
        > ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100%;

            @media (max-width: 468px) {
                width: 100%;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                border-radius: 6px;
            }

            > li {
                list-style: none;
                position: relative;
                transition: 0.4s;
                box-sizing: border-box;
                height: 100%;
                padding-right: 0.5rem;
                padding-left: 0.5rem;
                border-radius: 6px;

                @media (max-width: 468px) {
                    width: 100%;
                    padding: 1rem 0rem 1rem 0rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }

                a,
                button {
                    transition: 0.4s;
                    text-decoration: none;
                    color: var(--body-color);
                    height: 100%;
                    width: 100%;
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;

                    @media (max-width: 468px) {
                        justify-content: center;
                    }
                }

                &:hover,
                &:focus-within,
                &.opened {
                    cursor: pointer;

                    > a,
                    > button {

                        color: rgba(var(--accent), 1);
                    }

                    @media (max-width: 468px) {
                        background: rgba(var(--accent), 0.6);

                        > a,
                        > button {
                            color: rgba(var(--body-color), 1);
                        }
                    }
                }

                &.opened {
                    .submenu {
                        opacity: 1;
                        visibility: visible;
                        max-height: 100vh;

                        @media (max-width: 468px) {
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }

    .submenu-button {
        cursor: pointer;

        &:after {
            display: inline-block;
            margin-left: 0.255em;
            vertical-align: 0.255em;
            content: "";
            border-top: 0.3em solid;
            border-right: 0.3em solid transparent;
            border-bottom: 0;
            border-left: 0.3em solid transparent;
        }
    }

    .submenu {
        position: absolute;
        top: 85%;
        left: 0;
        display: block;
        background: rgba(var(--secondary), 1);
        box-shadow: var(--global-box-shadow);
        border-radius: 6px;
        width: max-content;
        transition: 0.2s ease;
        opacity: 0;
        visibility: hidden;
        color: red;

        @media (max-width: 468px) {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 100%;
            background-color: transparent;
            max-height: 0;
            box-shadow: none;
        }

        > li {
            padding: 0.85rem;

            @media (min-width: 468px) {
                &:first-child:hover,
                &:first-child:focus-within {
                    border-radius: 6px 6px 0 0;
                }

                &:last-child:hover,
                &:last-child:focus-within {
                    border-radius: 0 0 6px 6px;
                }
            }

            &:hover,
            &:focus-within {
                background: rgba(var(--accent), 0.6);

                > a,
                > button {
                    color: var(--body-color);
                }

                @media (max-width: 468px) {
                    background: rgba(var(--secondary), 0.6);

                    > a,
                    > button {
                        color: var(--body-color);
                    }
                }
            }
        }
    }
</style>

<style>
    header {
        width: 100%;
        color: var(--body-color);
        font-weight: 500;
        position: sticky;
        top: 0;
        background: var(--header-bg);
        backdrop-filter: blur(4px);
        z-index: 1010;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        transition: background 0.4s ease;

        .header-items {
            max-width: var(--page-width);
            padding-left: var(--padding-x);
            padding-right: var(--padding-x);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
            margin: auto;

            @media (max-width: 468px) {
                flex-direction: column;
            }
        }

        .control {
            display: flex;
            align-items: center;
            height: var(--header-height);

            @media (max-width: 468px) {
                width: 100%;
                justify-content: space-between;
            }
        }

        .brand {
            color: rgba(var(--accent), 1);
            display: flex;
            align-items: center;
            font-weight: 700;

            svg {
                margin-right: 6px;
                margin-left: 2px;
                height: 32px;
            }

            h1 {
                font-size: 1rem;
                font-weight: inherit;
                padding: 0;
                margin: 0;
                background: none;
                background-clip: none;
                color: inherit;
            }
        }
    }

    .header-burger-menu {
        display: none;
        align-items: center;
        justify-content: center;
        width: 2.125rem;
        border-radius: 6px;
        cursor: pointer;

        &:focus-visible {
            box-shadow: 0 0 0 0.5rem rgba(var(--accent), 0.5);
        }

        @media screen and (max-width: 468px) {
            display: flex;
        }
    }

    .header-burger-menu-button {
        position: relative;
        height: 26px;
        width: 40px;
        background-color: transparent;
        pointer-events: none;

        > span {
            top: 50%;
            transform: translateY(-50%);
        }

        span,
        &::before,
        &::after {
            display: block;
            position: absolute;
            height: 5px;
            width: 100%;
            background-color: var(--burger-menu-bg);
            border-radius: 6px;
            opacity: 1;
        }

        &::before,
        &::after {
            content: "";
            transition:
                top 0.35s cubic-bezier(0.23, 1, 0.32, 1),
                transform 0.35s cubic-bezier(0.23, 1, 0.32, 1);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        &.active {
            span {
                opacity: 0;
            }

            &::before,
            &::after {
                top: 40%;
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }
    }
</style>

<script>
    const initNav = () => {
        const navButton = document.querySelector<HTMLDivElement>("#menuButton"),
            navigation = document.querySelector<HTMLElement>("#siteNav"),
            submenuItems = document.querySelectorAll("[data-submenu]");

        if (navButton === null) {
            return;
        }

        const collapseDropdowns = (e: MouseEvent | KeyboardEvent | null = null) => {     
            const openedDropdowns = document.querySelectorAll("[data-submenu].opened");

            if (e === null) {
                openedDropdowns.forEach((d) => {
                d.classList.remove("opened");
            });
                return;
            }


            const target = e.target;
            openedDropdowns.forEach((d) => {
                const button = d.children[0];
                if (button === target) {
                    return;
                }
                d.classList.remove("opened");
            });
        };

        const handleSubmenus = () => {
            submenuItems.forEach((sub) => {
                sub?.addEventListener("click", (e) => {
                    sub.classList.toggle("opened");
                    const button = sub.children[0];

                    if (button.ariaExpanded === "false") {
                        button.ariaExpanded = "true";
                    } else {
                        button.ariaExpanded = "false";
                    }
                });
            });
        };

        /**
         * Opens/closes navigation menu.
         */
        const openCloseNav = () => {
            navButton.children[0].classList.toggle("active");
            document.body.classList.toggle("nav-active");
        };

        /**
         * Closes navigation menu
         */
        const closeNav = () => {
            if (document.body.classList.contains("nav-active")) {
                navButton.children[0].classList.toggle("active");
                document.body.classList.remove("nav-active");
            }
        };

        // Collapse responsive navbar on click outside or on its child items
        const collapseNav = (e: MouseEvent | KeyboardEvent | null = null) => {
            if (e === null) {
                closeNav();
                return;
            }

            let target = e.target as HTMLElement;

            if (target === navButton) {
                return;
            }

            if (navigation?.contains(target)) {
                return;
            }

            closeNav();
        };

        document.onmouseup = (e) => {
            collapseNav(e);
            collapseDropdowns(e);
        };

        document.onkeydown = (e) => {
            if (e.key === "Enter") {
                collapseNav(e);
                collapseDropdowns(e);
            }

            if (e.key === "Escape") {    
                collapseNav();
                collapseDropdowns();
            }
        };

        // Run everything
        navButton.addEventListener("click", (e) => {
            e.preventDefault();
            openCloseNav();
        });

        handleSubmenus();

        console.log("Navigation initialized.");
    };

    document.addEventListener(
        "astro:page-load",
        (e) => {
            initNav();
        },
        { once: false },
    );
</script>
