---
import { Image } from "astro:assets";
import * as m from "$messages";
import profilePicture from "@assets/img/profile/me.png";
import type { HTMLAttributes } from "astro/types";

interface Props {
	img?: ImageMetadata;
	imgClass?: string;
	attrs?: HTMLAttributes<"img">;
}

const { imgClass, img = profilePicture, ...attrs } = Astro.props;
const isPrint = Astro.locals.isPrint;
---

{
	!isPrint && (
		<div class="avatar">
			<div class="ring-primary ring-offset-base-100 w-40 rounded-full ring ring-offset-2 not-prose">
				<Image class:list={["profile-picture", imgClass]} src={img} alt={m.common__profile_picture()} {...attrs} />
			</div>
		</div>
	)
}

{isPrint && <Image src={img} style="width: 10rem; height: 11rem;" alt={m.common__profile_picture()} {...attrs} />}
