---
export interface Props {
	text: string;
	placement?: "left" | "right" | "top" | "bottom";
}

const { text, placement = "right" } = Astro.props;
---

<span class={`tooltip ${placement === "right" ? "" : placement}`} data-text={text}>
	<slot />
</span>

<style>
	.tooltip {
		position: relative;
	}

	.tooltip::after,
	.tooltip::before {
		position: absolute;
		z-index: 1000;
		box-sizing: border-box;
		left: 100%;
		top: 50%;
		transform: translateY(-50%);
		display: none;
		opacity: 0;
		transition:
			opacity 0.3s ease,
			display 0.3s ease allow-discrete;

		@starting-style {
			opacity: 0;
		}
	}

	.tooltip::before {
		color: var(--bulma-text);
		content: attr(data-text); /* here's the magic */
		margin-left: 15px;
		padding: 0.5rem;
		font-size: 0.75rem;
		min-width: 100px;
		max-width: 175px;
		border-radius: 10px;
		background: var(--bulma-scheme-main);
		border: 1px solid #333;
		text-align: center;
	}

	.tooltip::after {
		content: "";
		margin-left: -5px;
		border: 10px solid #333;
		border-color: transparent #333 transparent transparent;
	}

	.tooltip:hover::before,
	.tooltip:hover::after {
		display: block;
		opacity: 1;
	}

	.tooltip.bottom {
		&::after,
		&::before {
			left: unset;
			margin: 0;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
		&::before {
			margin-top: 15px;
		}

		&::after {
			margin-top: -5px;
			border-color: transparent transparent #333 transparent;
		}
	}

	.tooltip.top {
		&::after,
		&::before {
			left: unset;
			margin: 0;
			top: unset;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
		}
		&::before {
			margin-bottom: 15px;
		}

		&::after {
			margin-bottom: -5px;
			border-color: #333 transparent transparent transparent;
		}
	}

	.tooltip.left {
		&::after,
		&::before {
			left: unset;
			margin: 0;
			right: 100%;
		}
		&::before {
			margin-right: 15px;
		}

		&::after {
			margin-right: -5px;
			border-color: transparent transparent transparent #333;
		}
	}
</style>
