:root {
    --accent: 14, 165, 233; /*136, 58, 234*/
    --accent-rgba: rgba(152, 75, 245, 1);
    --accent-gradient: linear-gradient(to bottom, rgba(var(--accent-resume), 1), rgb(34, 211, 238));
    --secondary: 30, 41, 59;
    --accent-resume: 14, 165, 233;
    --accent-resume-gradient: linear-gradient(to bottom, rgba(var(--accent-resume), 1), rgb(34, 211, 238));
    --body-color: white;
    --button-color: white;
    --button-hover-color: black;
    --bg-color: rgba(15, 23, 42, 1);
    --header-bg: rgba(15, 23, 42, 0.8);
    --card-color: rgba(23, 23, 23, 0.4);
    --card-hover-color: rgba(var(--secondary), 1);
    --card-bg: rgba(var(--secondary), 1);
    --resume-card-bg: rgb(var(--secondary));
    --card-bg-rgb: 255, 255, 255;
    --dropdown-bg: #161b22;
    --dropdown-border-color: rgba(255, 255, 255, 0.3);
    --header-height: 70px;
    --resume-page-width: 1350px;
    --page-width: 1024px;
    --a-visited: rgb(197, 138, 249);
    --a-color: rgb(34 211 238);
    --footer-color: rgba(255, 255, 255, 0.6);
    --burger-menu-bg: #dddddd;
    --nav-background: rgba(var(--secondary), 1);
    --padding-x: 0.75rem;
    color-scheme: dark;

    @media screen and (min-width: 2240px) {
        --page-width: 1324px;
    }
}

html {
    font-size: 1rem;
    line-height: 1;
    font-family: "Twemoji Country Flags", "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Roboto, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
    overflow-x: hidden;
}

html.no-scroll {
    overflow-y: hidden;
    @media (width > 768px) {
        width: 100vw;
        margin-right: calc(100vw - 100%);
        padding-right: 16px;
    }
}

body {
    color: white;
    background-color: var(--bg-color);
    /* overflow-x: clip; */

    .page-content {
        margin: auto;
        display: flex;
        flex-direction: column;
        max-width: var(--page-width);
        padding-left: var(--padding-x);
        padding-right: var(--padding-x);
    }
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

h1 {
    font-size: 1.7rem;
    font-weight: 700;
    background: var(--accent-gradient) fixed;
    background-clip: text;
    color: transparent;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-weight: 600;
    font-size: 1.2rem;
}

h4 {
    font-weight: 500;
}

p {
    line-height: 1.2;
}

.gradient-text {
    color: transparent;
    background: var(--accent-gradient) fixed;
    background-clip: text;
}

.text-accent {
    color: rgba(var(--accent), 1);
}

.post-md {
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 1.2rem;
        margin-top: 1.2rem;
    }
    
    strong {
        font-weight: 600;
    }

    em {
        font-style: italic;
    }

    del {
        text-decoration: line-through;
    }

    blockquote {
        border-left-width: 0.25rem;
        border-left-color: #374151;
        border-left-style: solid;
        quotes: "\201c""\201d""\2018""\2019";
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
        padding-left: 1rem;

        p {
            font-weight: 500;
            font-style: italic;
            color: var(--body-color);
        }
    }

    hr {
        border-color: #374151;
        border-top-width: 1px;
        border-top-style: solid;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    ol {
        list-style-type: decimal;
        padding-left: 1.625rem;
        color: #d1d5db;

        > li {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    ul {
        list-style-type: disc;
        padding-left: 1.625em;
        color: #d1d5db;

        li {
            color: #d1d5db;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;

            &::marker {
                color: #4b5563;
            }
        }
    }

    p {
        color: #d1d5db;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
    }

    p:first-child {
        margin-top: 0rem;
    }

    p {
        line-height: 1.5;
    }

    img {
        height: auto;
        object-fit: scale-down;
        border-radius: 6px;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }

    table {
        width: 100%;
        table-layout: auto;
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 0.8em;
        line-height: 1.7;

        thead {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #4b5563;
        }

        th {
            color: var(--body-color);
            font-weight: 600;
            vertical-align: bottom;
            padding-right: 0.5rem;
            padding-bottom: 0.5rem;
            padding-left: 0.5rem;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        tbody {
            tr {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #4b5563;

                &:last-child {
                    border-bottom-width: 0;
                }
            }
        }
    }

    pre {
        overflow-x: auto;
        font-weight: 400;
        font-size: 0.875em;
        line-height: 1.7;
        margin-top: 1.71;
        margin-bottom: 1.7;
        border-radius: 6px;
        padding: 0.8rem 1.5rem;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    background-color: var(--card-bg);
    color: var(--button-color);
    text-transform: uppercase;
    font-weight: 900;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 15px 25px;
    text-align: center;
    border: 2px solid rgba(var(--accent), 1);
    font-size: 1rem;
    transition: 300ms;
    min-width: 120px;
    height: min-content;
}

.button a {
    color: inherit;
}

.button a:hover {
    text-decoration: none;
    color: #0000;
}

.button:hover {
    background-color: rgba(var(--accent), 1);
    color: var(--button-hover-color);
    cursor: pointer;
}

a {
    color: var(--a-color);

    &:visited {
        color: var(--a-visited);
    }

    &:hover {
        text-decoration: underline;
        text-decoration-color: inherit;
    }
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(var(--secondary), 1);
    color: var(--body-color);
    width: min-content;
    height: auto;
    z-index: 2000;
    font-weight: normal;
    white-space: nowrap;
    animation: fadeIn;
    animation-duration: 0.4s;
    border-radius: 0.375rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.8);

    &.active {
        display: block;
    }
}

.dropdown-content li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(163, 163, 163, 0.5);
        text-decoration: none;
    }

    &:first-child:hover {
        border-radius: 0.375rem 0.375rem 0 0;
    }

    &:last-child:hover {
        border-radius: 0 0 0.375rem 0.375rem;
    }

    a {
        color: inherit;
        padding: 0.7rem 1.1rem;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 1rem;

        i {
            font-size: 1.2rem;
        }
    }
}

/* Thanks! https://codepen.io/nzbin/pen/GGrXbp */
.dot-flashing {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite linear alternate;
    animation-delay: 0.5s;
}

.dot-flashing::before,
.dot-flashing::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}

.dot-flashing::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 0s;
}

.dot-flashing::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    animation: dot-flashing 1s infinite alternate;
    animation-delay: 1s;
}
