@keyframes typing {
    to {
        width: 0;
    }
}

@keyframes scaleUpX {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes scaleUp {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100;
    }

    100% {
        opacity: 0;
    }
}

@keyframes mouseFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes droplet {
    0% {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

@keyframes scaleImage {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes shake {
    10% {
        transform: scale(1.05) rotate(5deg);
    }
    20% {
        transform: scale(1.05) rotate(-5deg);
    }
    30% {
        transform: scale(1.05) rotate(5deg);
    }
    40% {
        transform: none;
    }
}

@keyframes dot-flashing {
    0% {
        background-color: #9880ff;
    }
    50%,
    100% {
        background-color: rgba(152, 128, 255, 0.2);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
