:root {
    --page-width: 1024px;
    --padding-x: 0.75rem;
    --header-height: 75px;

    @media screen and (min-width: 2240px) {
        --page-width: 1324px;
    }
}

/* Dark theme */
:root {
    color-scheme: dark;
    --border: 1px solid rgba(255, 255, 255, 0.2);
    --accent: 14, 165, 233; /*136, 58, 234*/
    --accent-gradient: linear-gradient(to bottom, rgba(var(--accent), 1), rgb(34, 211, 238));
    --secondary: 30, 41, 59;
    --body-color: white;
    --button-color: white;
    --button-hover-color: black;
    --bg-color: rgba(15, 23, 42, 1);
    --header-bg: rgba(15, 23, 42, 0.8);
    --card-bg: rgba(var(--secondary), 1);
    --a-visited: rgb(197, 138, 249);
    --a-color: rgb(34 211 238);
    --footer-color: rgba(255, 255, 255, 0.6);
    --burger-menu-bg: #dddddd;
    --global-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}