---
import type { Heading } from "@services/sanity/queries/posts";
import { getChildrenText, getHeadingSlug, parseOutline, type HeadingOutline } from "../utils/headingUtils";

interface Props {
	headings: HeadingOutline[];
}

const { headings } = Astro.props;
---

<ol>
	{
		headings.map((heading) => (
			<li>
				<a href={"#" + getHeadingSlug(heading)}>{getChildrenText(heading)}</a>
				{heading.subheadings && heading.subheadings.length > 0 && <Astro.self headings={heading.subheadings} />}
			</li>
		))
	}
</ol>
