---
import type { TableBlock } from "@services/sanity/schemas/contentBlockSchema";

interface Props {
	node: TableBlock;
}

const { node } = Astro.props;

let headerSet = false;
---

<table>
	{
		node.rows && (
			<thead>
				<tr>
					{node.rows[0].cells?.map((cell) => {
						return <th scope="col">{cell}</th>;
					})}
				</tr>
			</thead>
		)
	}

	{
		node.rows && (
			<tbody>
				{node.rows.slice(1).map((row) => {
					return (
						<tr>
							{row.cells?.map((cell) => {
								return <td>{cell}</td>;
							})}
						</tr>
					);
				})}
			</tbody>
		)
	}
</table>
