---
import { Image } from "astro:assets";
import { loadNamespaces, t } from "../../../i18n/i18n";
import { getLocale } from "astro-i18n-aut";
import Lemmy from "../../../assets/img/projects/lemmy.svg";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["projects"];
await loadNamespaces(locale, namespaces);
---

<div class="projects-cards-wrapper">
    <div class="cards">
        <div class="card">
            <div class="card-content">
                <div class="card-image">
                    <i class="bi bi-globe"></i>
                </div>
                <div class="card-info-wrapper">
                    <div class="card-info">
                        <div class="card-info-title">
                            <a href="https://github.com/dallyh/website" target="_blank"><i class="bi bi-link-45deg"></i>{t("projects:ThisWebsite")}</a>
                            <div class="card-info-tags">
                                <div class="rounded-tag astro">Astro.js</div>
                                <div class="rounded-tag typescript">TypeScript</div>
                                <div class="rounded-tag javascript">JavaScript</div>
                                <div class="rounded-tag react">React</div>
                                <div class="rounded-tag webdev">Web</div>
                            </div>
                        </div>
                        <p>{t("projects:ThisWebsiteDescription")}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-image">
                    <Image class="lemmy-logo" src={Lemmy} width={85} format="webp" alt="Lemmy software logo" loading="eager" />
                </div>
                <div class="card-info-wrapper">
                    <div class="card-info">
                        <div class="card-info-title">
                            <a href="https://github.com/dallyh/lemmy-kt-client" target="_blank"><i class="bi bi-link-45deg"></i>{t("projects:LemmyKtClient")}</a>
                            <div class="card-info-tags">
                                <div class="rounded-tag kmp">Kotlin Multiplatform</div>
                            </div>
                        </div>
                        <p>{t("projects:LemmyKtClientDescription")}{" "}<a href="https://join-lemmy.org/" target="_blank">Lemmy</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-content">
                <div class="card-image">
                    <i class="bi bi-person-fill"></i>
                </div>
                <div class="card-info-wrapper">
                    <div class="card-info">
                        <div class="card-info-title">
                            <a href="https://github.com/dallyh/web-resume" target="_blank"><i class="bi bi-link-45deg"></i>{t("projects:OldWebsite")}</a>
                            <div class="card-info-tags">
                                <div class="rounded-tag astro">Astro.js</div>
                                <div class="rounded-tag typescript">TypeScript</div>
                                <div class="rounded-tag javascript">JavaScript</div>
                                <div class="rounded-tag react">React</div>
                                <div class="rounded-tag webdev">Web</div>
                            </div>
                        </div>
                        <p>{t("projects:OldWebisteDescription")}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .projects-cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;

    }

    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1.5rem;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: var(--card-bg);
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        position: relative;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
        border-radius: 6px;
        padding: 1rem;
        overflow: hidden;
    }

    .card-content {
        display: flex;
        gap: 1rem;

        @media (max-width: 468px) {
            flex-direction: column;
            align-items: center;
        }
    }

    i {
        color: rgba(240, 240, 240, 1);
    }

    .card-image {
        align-items: center;
        display: flex;
        height: 120px;
        width: 100px;
        justify-content: center;
        overflow: hidden;

        @media (max-width: 468px) {
            height: 90px;
            width: 100%;
        }
    }

    .card-image > i {
        font-size: 4rem;
        opacity: 0.45;
    }

    .card-info-wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        padding: 0px 20px;
        width: 100%;
        height: 100%;
    }

    .card-info {
        align-items: flex-start;
        display: flex;
        gap: 10px;
    }

    .card-info-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        font-size: 0.725rem;
        margin-top: 0.5rem;
        color: black;
        font-weight: 600;

        .rounded-tag {
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            border-radius: 8px;

            &.astro {
                background-color: rgb(232 121 249);
            }

            &.typescript {
                background-color: rgb(251 113 133);
            }

            &.webdev {
                background-color: rgb(163 230 53);
            }

            &.javascript {
                background-color: rgb(250 204 21);
            }

            &.kmp {
                background: #7f52ff linear-gradient(to right, #ef4857 0, #de4970 20%, #b44db0 50%, #7f52ff 100%);
            }

            &.react {
                background-color: rgb(20 158 202);
            }
        }
    }

    .card-info {
        display: flex;
        flex-direction: column;
        > p {
            color: var(--body-color);
            font-size: 0.85em;
            margin-top: 8px;
        }
    }

    .card-info-title {
        > a {
            font-weight: 600;
            position: relative;
            display: inline-flex;
            min-height: 25px;

            i {
                margin-right: 5px;
            }
        }
    }

    .lemmy-logo {
        opacity: 0.45;
    }
</style>
