---
import * as m from "$messages";
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import Section from "@components/astro/global/Section.astro";
import Intro from "@components/astro/home/Intro.astro";
import ProjectsList from "@components/astro/projects/ProjectsList.astro";
import { siteConfig } from "@daliborhon.dev/shared/frontend";
import { locales } from "@daliborhon.dev/shared/frontend/i18n";
import { getRoutingLocale } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";

// The "index" is here on purpose. Without it, Astro prerenders the index.astro as "cs.html" or "en.html"
export async function getStaticPaths() {
	const paths = locales.map((locale) => {
		return { params: { lang: getRoutingLocale(locale), index: "index" }, props: { lang: locale } };
	});

	return paths;
}

const layoutProps = {
	title: "Dalibor Hon - " + m.common__home_page(),
	description: m.common__site_description(),
	homepage: true,
};
---

<PageLayout {...layoutProps}>
	<Section id="hero">
		<Intro />
	</Section>
	<Section id="projects" sectionTitle={m.projects__projects_title()}>
		<ProjectsList recentSize={siteConfig.projects.recentProjectsSize} />
	</Section>
	<FeaturedPosts postSize={siteConfig.blog.featuredPostsSize} />
	<RecentPosts postSize={siteConfig.blog.recentPostsSize} />
</PageLayout>
