---
import * as m from "$messages";
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import Section from "@components/astro/global/Section.astro";
import Intro from "@components/astro/home/Intro.astro";
import ProjectsList from "@components/astro/projects/ProjectsList.astro";
import { siteConfig } from "@daliborhon.dev/shared/frontend";
import { checkValidSSRLangPath } from "@i18n/utils";
import PageLayout from "@layouts/PageLayout.astro";
import { allProjectsQuery } from "@services/sanity/queries/projects";
import { recentFeaturedPostsQuery, recentPostsQuery } from "@services/sanity/queries/posts";
import { runQuery } from "@services/sanity/runQuery";

if (!checkValidSSRLangPath(Astro)) {
    return invalidLocaleResponse();
}

const layoutProps = {
    title: "Dalibor Hon - " + m.common__home_page(),
    description: m.common__site_description(),
    homepage: true,
};

const locale = Astro.currentLocale!;

const projects = await runQuery(allProjectsQuery(siteConfig.projects.recentProjectsSize), { language: locale });
const recentPosts = await runQuery(recentPostsQuery(siteConfig.blog.recentPostsSize), { language: locale });
const featuredPosts = await runQuery(recentFeaturedPostsQuery(siteConfig.blog.featuredPostsSize), { language: locale });


---

<PageLayout {...layoutProps}>
    <Section id="hero">
        <Intro />
    </Section>
    <Section id="projects" sectionTitle={m.projects__projects_title()}>
        <ProjectsList {projects} />
    </Section>
    <FeaturedPosts posts={featuredPosts} />
    <RecentPosts posts={recentPosts} />
</PageLayout>
