---
import * as m from "$messages";
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import Section from "@components/astro/global/Section.astro";
import Intro from "@components/astro/home/Intro.astro";
import ProjectsList from "@components/astro/projects/ProjectsList.astro";
import { siteConfig } from "@daliborhon.dev/shared/frontend";
import PageLayout from "@layouts/PageLayout.astro";

export { getStaticPaths } from "@i18n/utils";

const layoutProps = {
    title: "Dalibor Hon - " + m.common__home_page(),
    description: m.common__site_description(),
    homepage: true,
};
---

<PageLayout {...layoutProps}>
    <Section id="hero">
        <Intro />
    </Section>
    <Section id="projects" sectionTitle={m.projects__projects_title()}>
        <ProjectsList recentSize={siteConfig.projects.recentProjectsSize} />
    </Section>
    <FeaturedPosts postSize={siteConfig.blog.featuredPostsSize} />
    <RecentPosts postSize={siteConfig.blog.recentPostsSize} />
</PageLayout>
