---
import type { CollectionEntry } from "astro:content";
import * as m from "$messages";
import AllEntriesUrl from "@components/astro/global/AllEntriesUrl.astro";
import ProjectCard from "./ProjectCard.astro";

interface Props {
	projects: CollectionEntry<"projects">[] | undefined;
	showAllUrl?: boolean;
}

const { showAllUrl = false, projects } = Astro.props;

if (!projects) {
	throw new Error("Projects cannot be empty.");
}

const allEntriesProps = {
	url: "/projects",
	urlDescription: m.projects__see_all(),
};

const cols = () => {
	if (projects.length % 3 === 0) {
		return 3;
	}

	if (projects.length % 2 === 0) {
		return 2;
	}

	return 1;
};
---

<div class="projects">
	<div class={`fixed-grid has-${cols()}-cols has-1-cols-mobile`}>
		<ul class="grid">
			{
				projects.map((project) => {
					return (
						<li class="cell">
							<ProjectCard {project} />
						</li>
					);
				})
			}
		</ul>
	</div>
	{showAllUrl && <AllEntriesUrl {...allEntriesProps} />}
</div>
