---
import { Image } from "astro:assets";
import * as m from "$messages";
import avatar from "@assets/img/profile/avatar-casual.svg";
import { Icon } from "astro-icon/components";
import SocialLinks from "./SocialLinks.astro";
---

<div class="intro-container">
	<div class="profile-container">
		<div class="profile-info-container">
			<h1 class="hi-there">{m.landing__hi_there()} <strong class="text-accent">Dalibor</strong><span class="shake">👋</span></h1>
			<div class="profile-description">
				<div class="icon-text">
					<i><Icon name="bi:briefcase" /></i>
					<p>Business Consultant</p>
				</div>
				<div class="icon-text">
					<i><Icon name="bi:geo-alt" /></i>
					<p>Ostrava, {m.common__country_czech_republic()}</p>
				</div>
			</div>
		</div>
		<SocialLinks />
	</div>
	<div class="profile-avatar-wrapper">
		<Image src={avatar} alt="Avatar" loading="eager" />
	</div>
</div>

<style>
	strong {
		font-weight: 600;
	}

	.profile-avatar-wrapper {
		img {
			height: 240px;
			width: auto;
		}
	}

	.shake {
		animation: shake 2s infinite;
	}

	.intro-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		position: relative;
		justify-content: space-between;
		width: 100%;
		height: 100%;

		@media (max-width: 1024px) {
			flex-direction: column-reverse;
			gap: 0.5rem;
			justify-content: center;
			align-items: center;
		}

		@media (max-width: 468px) {
			min-height: calc(100svh - var(--header-margin));
			margin-top: -1rem; /* Account for sections margin */
		}
	}

	.profile-info-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: clamp(0.65rem, 5vw, 1rem);
		color: var(--body-color);

		.profile-description {
			display: flex;
			flex-direction: column;
			gap: 0.5rem;
			margin-bottom: 1rem;

			.icon-text {
				display: flex;
				align-items: center;
				gap: 0.5rem;

				@media (max-width: 1024px) {
					justify-content: center;
				}
			}
		}

		.hi-there {
			font-weight: 400;
			font-size: clamp(1rem, 7vw, 1.725rem);

			span {
				display: inline-block;
			}

			@media (max-width: 468px) {
				display: block;
			}
		}

		@media (max-width: 1024px) {
			align-items: center;
		}
	}

	.profile-container {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		@media (max-width: 468px) {
			width: 100%;
		}
	}
</style>
