---
import ExternalLink from "../common/ExternalLink.astro";

interface Props {
	href: string;
}

const { href, ...rest } = Astro.props;

function isExternal() {
	const currentUrl = new URL(Astro.url.href);
	const linkUrl = new URL(href, currentUrl);
	return linkUrl.hostname !== currentUrl.hostname;
}
---

<slot />

{
	isExternal() && (
		<ExternalLink {href} class="link link-hover-reverse" {...rest}><slot /></ExternalLink>
	)
}
{
	!isExternal() && (
		<a class="link link-hover-reverse" {href} {...rest}><slot /></a>
	)
}
