---
import ExternalLink from "../common/ExternalLink.astro";

interface Props {
	href: string;
}
const { href, ...rest } = Astro.props;

function isExternal() {
	const currentUrl = new URL(Astro.url.href);
	const linkUrl = new URL(href, currentUrl);
	return linkUrl.hostname !== currentUrl.hostname;
}
---

{
	isExternal() && (
		<ExternalLink {href} {...rest}>
			<slot />
		</ExternalLink>
	)
}
{
	!isExternal() && (
		<a {href} {...rest}>
			<slot />
		</a>
	)
}
