---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { getRoutingLocale, getLocale } from "@i18n/utils";
import { getBlogPostUrl } from "@utils/getBlogPostUrl";
import PageLayout from "@layouts/PageLayout.astro";
import { loadNamespaces, t } from "@i18n/i18n";
import Section from "@components/astro/global/Section.astro";

// This is kinda complicated
export async function getStaticPaths() {
    const allPosts = await getCollection("posts", ({ data }) => {
        return !data.draft;
    });

    const allTags = allPosts.map((post) => {
        return post.data.tags.flat();
    });
    const uniqueTags = [...new Set(allTags.flat())];

    const blogLocales = allPosts.map((post) => {
        return post.data.language;
    });
    const uniqueLocales = [...new Set(blogLocales.flat())];

    const paths = uniqueTags.flatMap((tag) => {
        return uniqueLocales.map((locale) => {
            return { params: { lang: getRoutingLocale(locale), tag: tag }, props: { posts: allPosts } };
        });
    });

    return paths;
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const locale = getLocale(Astro.url);
const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag) && post.data.language === locale);

// i18next
const namespaces = ["contactForm"];
await loadNamespaces(locale, namespaces);

const layoutProps = {
    title: "Dalibor Hon",
    description: t("landing:description"),
};
---

<PageLayout {...layoutProps}>
    <Section id="taggedPosts" sectionTitle={"Posts tagged with " + tag}>
        <ul>
            {
                filteredPosts.map((post) => (
                    <li>
                        <a href={getBlogPostUrl(locale, post.slug)}>{post.data.title}</a>
                    </li>
                ))
            }
        </ul>
    </Section>
</PageLayout>
