---
import MainLayout from "@layouts/MainLayout.astro";
import { loadNamespaces, t } from "@i18n/i18n";
import { getLocale, getBlogPostSlug } from "@i18n/utils";
import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";
import BlogPostPreview from "@components/astro/blog/BlogPostPreview.astro";
import { getStaticPaths } from "@i18n/utils";
import PaginatePosts from "@components/react/blog/PaginatePosts/PaginatePosts"

export { getStaticPaths };

// i18next
const locale = getLocale(Astro.url);
console.log(locale);
const namespaces = ["blog"];
await loadNamespaces(locale, namespaces);

//Blogs
const filteredPosts = await getCollection("posts", ({ data }) => {
    return data.language === locale;
});

const tags = [...new Set(filteredPosts.map((post) => post.data.tags).flat())];
---

<MainLayout title="Dalibor Hon" description={t("landing:description")} showFooterContact={false}>
    <main>
        <section id="blogs">
            <div class="section-content-container">
                <div class="section-header">
                    <h2 class="gradient-text-accent">Blogs</h2>
                </div>
                <div class="section-content">
                    <PaginatePosts data={filteredPosts} itemsPerPage={2} locale={locale} client:only/>
                </div>
            </div>
        </section>
    </main>

    <style>
        section {
            display: grid;
            width: 100%;

            @media (max-width: 768px) {
                height: unset;
            }
        }

        .section-content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;

            .section-subheader {
                font-size: 1.5rem;
                font-weight: 500;
                position: relative;
                z-index: 1;
                color: rgba(var(--accent), 1);
                padding-top: 1rem;
            }

            .section-description {
                margin-top: 10px;
            }

            .section-content {
                width: 100%;
                height: 100%;
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }

        .section-footer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 0.5rem;
        }
    </style>
</MainLayout>