:root {
	--header-height: calc(68px + 1rem);
}

.gsc-main {
	flex-direction: column-reverse !important;
}

html {
	overflow-anchor: none;
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

:target {
	scroll-margin-top: calc(var(--header-height) + 1rem); /* Navbar */
}
