@import "tailwindcss" source("../../src/");
@plugin "daisyui" {
	themes: all;
}

@plugin "daisyui/theme" {
	name: "hacker";
	default: false;
	prefersdark: false;
	color-scheme: "dark";
	--color-base-100: oklch(0% 0 0);
	--color-base-200: oklch(28% 0 0);
	--color-base-300: oklch(35% 0 0);
	--color-base-content: oklch(87.609% 0 0);
	--color-primary: oklch(87.29% 0.252 147.43);
	--color-primary-content: oklch(12% 0.042 264.695);
	--color-secondary: oklch(35% 0 0);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(35% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(35% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(87.29% 0.252 250);
	--color-info-content: oklch(98% 0.003 247.858);
	--color-success: oklch(87.29% 0.252 135);
	--color-success-content: oklch(12% 0.042 264.695);
	--color-warning: oklch(87.29% 0.252 100);
	--color-warning-content: oklch(19.359% 0.042 109.769);
	--color-error: oklch(87.29% 0.252 25);
	--color-error-content: oklch(12% 0.042 264.695);
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.3125rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin "@tailwindcss/typography";

@theme {
	--default-font-family: "JetBrains Mono Variable", var(--font-mono);
	--default-mono-font-family: var(--default-font-family);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility card {
	&.card-outline {
		@apply bg-after-primary;
	}
}

@utility bg-after-primary {
	position: relative;
	box-shadow: 4px 4px 0 0 var(--color-primary);
}

@utility btn {
	&.btn-outline-shadow {
		@apply btn-outline;
		@apply bg-after-primary;
		transition: box-shadow 0.2s;

		&:hover {
			background-color: var(--btn-color);
			box-shadow: 0 0 0 0 var(--color-primary);
		}

		&.skeleton {
			box-shadow: 0 0 0 0 var(--color-primary);
		}
	}
}

@layer utilities {
	h1 {
		@apply text-4xl;
		@apply font-bold;
	}

	h2 {
		@apply text-3xl;
		@apply font-bold;
	}

	h3 {
		@apply text-2xl;
		@apply font-bold;
	}

	h4 {
		@apply text-xl;
		@apply font-bold;
	}

	h5 {
		@apply text-lg;
		@apply font-bold;
	}

	h6 {
		@apply font-bold;
	}

	.validator {
		&.invalid,
		&:has(.invalid) {
			--input-color: var(--color-error);
		}
	}

	.validator {
		&.invalid,
		&:has(.invalid) {
			& ~ .validator-hint {
				visibility: visible;
				display: block;
				color: var(--color-error);
			}
		}
	}

	.validator {
		&.valid,
		&:has(.valid) {
			--input-color: var(--color-success);
		}
	}

	.menu {
		.dropdown-content {
			margin-top: 0; /* Fixes hoverable dropdowns, introduced somewhere between daisyUI betas */
		}
	}

	.md-content :is(h1, h2, h3, h4, h5, h6) {
		width: max-content;
	}

	.md-content :is(h1, h2, h3, h4, h5, h6):has(.heading-link-icon) {
		@apply flex gap-2;
		transform: translateX(-2rem);
		transition: transform ease 300ms;

		a {
			@apply mt-1 flex justify-center;
			opacity: 0;
			visibility: hidden;
			transition: opacity ease 300ms;

			.heading-link-icon {
				@apply btn btn-soft btn-primary btn-xs;

				i {
					float: left;
					text-decoration: none;
					position: relative;
					font-size: 0.5rem;
				}
			}
		}

		&:hover {
			transform: translateX(0rem);
			a {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.prose :not(.expressive-code) code:not(a code),
	.prose a:has(> code) {
		padding: 0.125rem 0.375rem;
		font-weight: 400;
		@apply bg-base-300 text-sm;

		&::before {
			content: unset;
		}

		&::after {
			content: unset;
		}
	}

	.prose a:has(code) {
		padding: 0.125rem 0.375rem;
		@apply bg-base-300;

		code {
			font-weight: 400;
			@apply text-sm;

			&::before {
				content: unset;
			}

			&::after {
				content: unset;
			}
		}
	}

	.has-icon {
		svg {
			@apply inline-block align-middle;
		}

		&.icon-inline {
			svg {
				@apply mb-1 h-5 w-5;
			}
		}

		&.icon-no-fix {
			svg {
				margin-bottom: unset;
			}
		}

		&.icon-left {
			svg {
				@apply mr-1;
			}
		}

		&.icon-right {
			svg {
				@apply ml-1;
			}
		}
	}
}
