---
import ProfilePicture from "@components/astro/common/ProfilePicture.astro";
---

<div class="hero place-items-start">
	<div class="hero-content flex-col justify-start lg:flex-row">
		<ProfilePicture />
		<div>
			<slot />
		</div>
	</div>
</div>
