---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "@daliborhon.dev/integrations/astro-i18n/messages";
import BreadCrumbsItem from "@components/astro/global/BreadCrumbsItem.astro";
import SearchMeta from "@components/astro/global/SearchMeta.astro";
import Section from "@components/astro/global/Section.astro";
import ProjectsGrid from "@components/astro/projects/ProjectsGrid.astro";
import type { AllowedLocales } from "@daliborhon.dev/integrations/astro-i18n"; //@daliborhon.dev/i18n
import PageLayout from "@layouts/PageLayout.astro";
import { getProjectsByLocale } from "@utils/content";

export { getStaticPaths } from "@daliborhon.dev/integrations/astro-i18n";

const locale = Astro.currentLocale! as AllowedLocales;
const projects = await getProjectsByLocale(locale);

const layoutProps = {
	title: m.projects__projects(),
	description: m.projects__description(),
};

const searchProps = {
	title: m.projects__projects(),
	description: layoutProps.description,
};
---

<PageLayout {...layoutProps} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem currentPage href={getRelativeLocaleUrl(locale, "/projects")} label={m.projects__projects()} />
	</Fragment>
	<SearchMeta {...searchProps} />
	<Section id="projects" isFirstSection sectionTitle={m.projects__projects()} sectionDescription={m.projects__description()}>
		<ProjectsGrid {projects} />
	</Section>
</PageLayout>
