---
import type { Category } from "@services/sanity/queries/categories";
import { allPostsByCategoryQuery, type Post } from "@services/sanity/queries/posts";
import { runQuery } from "@services/sanity/runQuery";
import { getCategoryUrl } from "@utils";
import { Icon } from "astro-icon/components";
import PostsGrid from "./PostsGrid.astro";

interface Props {
	category: Category;
	posts: Post[];
}

const locale = Astro.currentLocale!;

const { category, posts } = Astro.props;

const { title, description } = category;
const url = getCategoryUrl(locale, category);
---

{
	posts && posts.length !== 0 && (
		<li class="category">
			<h2 class="title">
				<a href={url}>{title}</a>
			</h2>
			<p class="description">
				<i>
					<Icon name="bi:arrow-return-right" />
				</i>
				<span>{description}</span>
			</p>
			<PostsGrid posts={posts} />
		</li>
	)
}

<style>
	.category {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;

		h2 {
			a:visited {
				color: rgba(var(--accent), 1);
			}
		}

		.title {
			display: flex;
			align-items: center;
		}

		.description {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			margin-left: 0.4rem;
		}
	}
</style>
