---
import * as m from "$messages";
import { getBlogPostDateTime, wasPostUpdated } from "@utils";

interface Props {
	pubDateTime: string | Date;
	modDatetime?: string | Date | null;
	locale: string;
	showTime?: boolean;
}

const { pubDateTime, modDatetime = null, locale, showTime = false } = Astro.props;

const date = getBlogPostDateTime(locale, pubDateTime, modDatetime);
---

<div>
	{modDatetime && <span>{wasPostUpdated(pubDateTime, modDatetime) ? m.blog__updated_date_title() : m.blog__published_date_title()}</span>}
	<time datetime={date.iso}>{date.date}</time>
	{
		showTime && (
			<>
				<span> | </span>
				<span>{date.time}</span>
			</>
		)
	}
</div>

<style>
	span,
	time {
		font-size: inherit;
		font-weight: inherit;
	}
</style>
