---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import { allPostsByTagQuery } from "@services/sanity/queries/posts";
import { runQuery } from "@services/sanity/runQuery";
import { Icon } from "astro-icon/components";
import PostsGrid from "./PostsGrid.astro";
import type { Tag } from "@services/sanity/queries/tags";

interface Props {
	tag: Tag;
}

const { tag } = Astro.props;
const locale = Astro.currentLocale!;

const posts = await runQuery(allPostsByTagQuery, { language: locale, tag: tag.slug });

const title = tag.title.toLowerCase();
const url = getRelativeLocaleUrl(locale, `/blog/tags/${title}/`);
---

{
	posts && posts.length !== 0 && (
		<li class="tag">
			<h2 class="title">
				<a href={url} aria-label={{ title } + m.blog__tag()}>
					<i>
						<Icon name="bi:tag" />
					</i>
					{title}
				</a>
			</h2>
			<PostsGrid posts={posts} />
		</li>
	)
}

<style>
	.tag {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		width: 100%;

		h2 {
			a {
				display: flex;
				gap: 0.3rem;
				color: rgba(var(--accent), 1);

				&:visited {
					color: rgba(var(--accent), 1);
				}
			}

			svg {
				margin-top: 0.2rem;
			}
		}
	}
</style>
