---
import { getRelativeLocaleUrl } from "astro:i18n";
import type { Post } from "@services/sanity/queries/posts";
import type { Tag } from "@services/sanity/queries/tags";

interface Props {
	post?: Post;
	tags?: Tag[];
}

const { post, tags } = Astro.props;

const locale = Astro.currentLocale!;
---

<ul class="tag-list">
	{
		tags &&
			tags.map((tag) => (
				<li>
					<a href={getRelativeLocaleUrl(locale, `/blog/tags/${tag.slug}/`)}>#{tag.title.toLowerCase()}</a>
				</li>
			))
	}
	{
		post &&
			post.tags.map(async (tag) => {
				return (
					<li >
						<a href={getRelativeLocaleUrl(locale, `/blog/tags/${tag?.slug}/`)}>#{tag?.title.toLowerCase()}</a>
					</li>
				);
			})
	}
</ul>

<style>
	.tag-list {
		display: flex;
		gap: 0.3rem;
		flex-wrap: wrap;
		text-align: center;

		li {
			a {
				display: inline-block;
				font-size: 0.875rem;
				position: relative;
				color: rgba(var(--accent));

				&:visited {
					color: rgba(var(--accent));
				}

				&:hover {
					text-decoration: none;
					top: -2px;
				}
			}
		}
	}
</style>
