---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "@daliborhon.dev/integrations/astro-i18n/messages";
import FeaturedPosts from "@components/astro/blog/FeaturedPosts.astro";
import RecentPosts from "@components/astro/blog/RecentPosts.astro";
import BreadCrumbs from "@components/astro/global/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/global/BreadCrumbsItem.astro";
import Section from "@components/astro/global/Section.astro";
import PageLayout from "@layouts/PageLayout.astro";
import { siteConfig } from "@site-config";
import { getFilteredPostsCollection } from "@utils/content";

export { getStaticPaths } from "@daliborhon.dev/integrations/astro-i18n";

const locale = Astro.currentLocale!;
const recentPosts = await getFilteredPostsCollection({ sort: true, slice: siteConfig.blog.recentPostsSize, locale: locale });
const featuredPosts = await getFilteredPostsCollection({ featured: true, sort: true, slice: siteConfig.blog.featuredPostsSize, locale: locale });

const layoutProps = {
	title: "Blog",
	description: m.blog__blog_site_description(),
};
---

<PageLayout {...layoutProps} showCrumbs>
	<Fragment slot="crumbs">
		<BreadCrumbsItem currentPage={true} label="Blog" />
	</Fragment>
	<Section id="blogIntro" sectionTitle="Blog" sectionDescription={m.blog__blog_description()} isFirstSection>
		<FeaturedPosts posts={featuredPosts} sectionProps={{ isInsideSection: true, id: "featuredPosts", heading: "h2" }} />
		<RecentPosts posts={recentPosts} sectionProps={{ isInsideSection: true, id: "recentPosts", heading: "h2" }} />
	</Section>
</PageLayout>
