---
import type { MarkdownInstance } from "node_modules/astro/dist/@types/astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    // Why do i have to set the type manually...
    const allPosts = await getCollection("posts");
    return [
        { params: { tag: "astro" }, props: { posts: allPosts } },
        { params: { tag: "successes" }, props: { posts: allPosts } },
        { params: { tag: "community" }, props: { posts: allPosts } },
        { params: { tag: "blogging" }, props: { posts: allPosts } },
        { params: { tag: "setbacks" }, props: { posts: allPosts } },
        { params: { tag: "learning in public" }, props: { posts: allPosts } },
    ];

}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post) => post.data.tags?.includes(tag));
---

<MainLayout title={tag}>
    <p>Posts tagged with {tag}</p>
    <ul>
        {
            filteredPosts.map((post) => (
                <li>
                    <a href={`/posts/${post.slug}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</MainLayout>
