---
import { getRelativeLocaleUrl } from "astro:i18n";
import * as m from "$messages";
import BreadCrumbs from "@components/astro/global/BreadCrumbs.astro";
import BreadCrumbsItem from "@components/astro/global/BreadCrumbsItem.astro";
import Footer from "@components/astro/global/Footer.astro";
import HeadHrefLangs from "@components/astro/global/HeadHrefLangs.astro";
import Drawer from "@components/astro/global/Drawer.astro";
import MainLayout from "./MainLayout.astro";

interface Props {
	title: string;
	description?: string;
	homepage?: boolean;
	showCrumbs?: boolean;
}

const { title, description, showCrumbs = false } = Astro.props;
const locale = Astro.currentLocale!;
---

<MainLayout title={title} description={description}>
	<HeadHrefLangs slot="hreflangs" />
	<Drawer>
		<main>
			{
				showCrumbs && (
					<BreadCrumbs>
						<BreadCrumbsItem href={getRelativeLocaleUrl(locale, "/")} label={m.common__home()} />
						<slot name="crumbs" />
					</BreadCrumbs>
				)
			}

			<slot />
		</main>
		<Footer />
	</Drawer>
</MainLayout>
