---
import Footer from "@components/astro/global/Footer.astro";
import HeadHrefLangs from "@components/astro/global/HeadHrefLangs.astro";
import Navigation from "@components/astro/global/Navigation.astro";
import MainLayout from "./MainLayout.astro";

interface Props {
    title: string;
    description?: string;
    homepage?: boolean;
}

const { title, description, homepage = false } = Astro.props;
---

<MainLayout title={title} description={description}>
    <HeadHrefLangs slot="hreflangs" />
    <Navigation slot="header">
        <slot name="dynamic-island" slot="dynamic-island" />
    </Navigation>
    <main>
        <slot />
    </main>
    <Footer />
</MainLayout>
