---
import Admin from "@components/react/cms/admin";
---

<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="robots" content="noindex, nofollow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://unpkg.com/netlify-auth-providers" defer/>
        <title>Content Manager - Static CMS</title>
        <style>
            html,
            body {
                height: 100%;
            }
        </style>
    </head>
    <body id="root">
        <Admin client:only="react" />
    </body>
</html>
