---
import type { CollectionEntry } from "astro:content";
import PostPreview from "@components/astro/blog/PostPreview.astro";
import AllEntriesUrl from "@components/astro/common/AllEntriesUrl.astro";
import type { Page } from "astro";

interface Props {
	posts: CollectionEntry<"posts">[] | Page<CollectionEntry<"posts">>;
	url?: string;
	urlDescription?: string;
}

const { posts, url, urlDescription } = Astro.props;

function isPage<T>(value: any): value is Page<T> {
	return value && value.data && Array.isArray(value.data);
}
---

<div class="flex flex-col">
	<ul class="grid grid-cols-1 gap-3 md:grid-cols-3">
		{
			Array.isArray(posts) &&
				posts.map((post) => (
					<li>
						<PostPreview post={post} />
					</li>
				))
		}
		{
			isPage(posts) &&
				posts.data.map((post) => (
					<li>
						<PostPreview post={post} />
					</li>
				))
		}
	</ul>
	{url && urlDescription && <AllEntriesUrl {url} {urlDescription} />}
</div>

<style>
	ul {
		list-style: none;
	}
</style>
