---
/* Credits: https://www.thomasledoux.be/blog/using-server-islands-actions-view-counter */
import { PageView, count, db, eq } from "astro:db";

interface Props {
	url: string;
}

const { url } = Astro.props;

const viewCount = await db.select({ value: count() }).from(PageView).where(eq(PageView.url, url));
---

<span>{viewCount[0]?.value}</span>
