---
/* Credits: https://www.thomasledoux.be/blog/using-server-islands-actions-view-counter */
// Borked, see: https://github.com/withastro/astro/issues/12817
import { PageView, count, db, eq } from "astro:db";
import { m } from "@paraglide/messages";

interface Props {
	url: string;
}

const { url } = Astro.props;

const viewCount = await db.select({ value: count() }).from(PageView).where(eq(PageView.url, url));
---

<span>{viewCount[0]?.value}</span>
