---
import { Image } from "astro:assets";
import { getLocale, getLocaleUrl } from "astro-i18n-aut";
import { loadNamespaces, t } from "../../../i18n/i18n";

interface Props {
    accentColor: string;
    showHomePage?: boolean;
    showContact?: boolean;
}

const { accentColor, showHomePage = true, showContact = true } = Astro.props;

// Images
import astroSvg from "../../../../public/assets/img/astro/simple-full-logo-light.svg";
import LanguageSelector from "./LanguageSelector.astro";

// i18next
const locale = getLocale(Astro.url);
const namespaces = ["footer"];
await loadNamespaces(locale, namespaces);
---

<footer class="footer-container">
    <LanguageSelector accentColor={accentColor} showFlag={true} />
    <p>
        {t("footer:PageCreatedBy")}
        {" "}
        <a href="https://astro.build/" aria-label="Astro Framework." title="Astro Framework">
            <Image src={astroSvg} alt="Astro.build logo." class="svg-astro" />
        </a>
    </p>
    <p>{t("footer:Host")}{" "}<a href="https://www.github.com" target="_blank"> {t("footer:Github")}</a>.</p>
    <div class="links">
        {
            showHomePage && (
                <a href={getLocaleUrl("/home", locale)} rel="prefetch">
                    <i class="bi bi-house-fill" /> {t("footer:HomePage")}
                </a>
            )
        }
        {showHomePage && showContact && "|"}
        {
            showContact && (
                <a href="" id="contactLink">
                    <i class="bi bi-envelope-fill" /> {t("footer:ContactMe")}
                </a>
            )
        }
    </div>
</footer>

<style define:vars={{ accentColor }}>
    :root {
        --footer-color: rgba(255, 255, 255, 0.8);
    }

    /* Footer */
    .footer-container {
        width: 100%;
        padding: 1rem;
        gap: 0.25rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 0.8rem;
        color: var(--footer-color);
        font-weight: 300;
        margin-top: 1rem;
    }

    :global(.svg-astro) {
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px;
        width: 45px;
        height: 15px;
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(100%) grayscale(100%);
        opacity: 50%;
    }

    .links {
        display: flex;
        justify-content: center;
        gap: 0.25em;
    }

    a {
        color: rgba(var(--accentColor), 1);

        &:visited {
            color: rgba(var(--a-visited), 1);
        }

        i {
            margin-right: 0.25rem;
            color: var(--footer-color);
        }
    }
</style>

<script>
    const initializeFooter = () => {
        const contactModal = document.querySelector<HTMLDivElement>("#contactModal");
        const contactLink = document.querySelector<HTMLAnchorElement>("#contactLink");

        if (contactLink !== undefined && contactLink !== null) {
            contactLink.onclick = (e) => {
                e.preventDefault();
                contactModal?.classList.toggle("show");
                document.documentElement.classList.toggle("no-scroll");
            };
        }
    };

    document.addEventListener(
        "astro:page-load",
        (e) => {
            initializeFooter();
        },
        { once: false },
    );
</script>
