---
/* Credits: https://www.thomasledoux.be/blog/using-server-islands-actions-view-counter */
import { getPageViews } from "@services/umami/client";

interface Props {
	url: string;
}

const { url } = Astro.props;

const viewCount = await getPageViews(url);
---

<span>{viewCount.pageviews.value}</span>
