---
/* Credits: https://www.thomasledoux.be/blog/using-server-islands-actions-view-counter */
import { getPageViews } from "@services/umami/client";

interface Props {
	pathname: string;
}

const { pathname } = Astro.props;

const viewCount = await getPageViews(pathname);
---

<span>{viewCount}</span>
